<script type="text/javascript">
	$("#select_categoria").selectpicker('refresh');
</script>
<!-- -->
<!--Preloaders -->
<div class="loading-spiner-holder" data-loading >
    <div class="loading-spiner">
        <ng-include src="'./site_media/templates/preloader.html'"></ng-include>
    </div>
</div>  
<!-- -->
<ng-include src="'./site_media/templates/header.html'"></ng-include>
<div class="page-container row-fluid container-fluid">

    <ng-include src="'./site_media/templates/menu_principal.html'"></ng-include>
     <!-- START CONTENT -->
    <section id="main-content">
        <form id="form_inicio2"></form>
        <section class="wrapper main-wrapper row" style=''>
            <div id="cuerpo_principal_album">
	            <!--Cuerpo del formulario -->
	            <div class='col-xs-12'>
				    <div class="page-title" style="display:none">
				        <div class="pull-left">
				            <!-- PAGE HEADING TAG - START -->
				            <h1 class="title" id="titulo_project">
								{{titulo_pagina}}
							</h1>
				            <!-- PAGE HEADING TAG - END--> 
				        </div>                     
				    </div>
				</div>
				<div class="clearfix"></div>
				<div class="animated fadeIn col-xs-12">
				    <section class="box ">
				        <header class="panel_header">
				        	<div>
					        	<div class="contenedor_icono">
						        	<div class="circulo_fuente">
						        		<i class="fa fa-folder" aria-hidden="true"></i>
						        	</div>
						        </div>	
					            <h2 class="title pull-left"> Registro de  albúm de imágenes</h2>
					        </div>    
				        </header>
				        <hr>
				        <div class="content-body">
							<!-- Cuerpo del formulario -->
							<form id="form_registro_galeria" name="form_registro_galeria" enctype="multipart/form-data">
							    <div class="row">
							    	<div class="col-md-12 col-sm-12 col-xs-12" style="padding-left:0px;">
							    		<div class="col-lg-8 col-md-8 col-xs-8 col-sm-8" style="padding-left: 0px;">
								    		<div class="form-group">
								                <label class="form-label" for="field-1">Seleccione una categoría, ingrese el nombre del archivo y luego realiza la carga pulsando el botón subir imagen</label>
								            </div>
							            </div> 
							            <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
							            	<div id="mensaje_album" name="mensaje_album"></div>
							            </div>   
							    	</div>
							        <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12" style="padding-left:0px;">
							            <div class="form-group">
							            	<label class="form-label">Categoría:</label>
							                <div class="controls">
							                    <select id="select_categoria"  name="select_categoria" class="form-control m-bot15 selectpicker " data-done-button="true" data-actions-box="true"  data-live-search-placeholder="Seleccione categoría" placholder="Seleccione categoría" data-style="btn-fff " data-live-search="true" ng-options="option.nombre_categoria for option in categoria track by option.id" ng-model="album.categoria" ng-change="activar_dropzone();consultar_galeria();" >
							                    	<option value="">--Seleccione una categoría--</option>
							                    </select>
							                </div>
							            </div>
							            <div class="form-group">
							            	<label class="form-label">Nombre archivo:</label>
							            	<div class="controls">
							                	<input type="text" name="nombre_imagen" id="nombre_imagen" class="form-control" ng-model="album.nombre_imagen" placeholder="Ingrese el nombre del archivo" onKeyPress="return valida(event,this,11,50)" onBlur="valida2(this,11,50);">
							                </div>
							            </div>
							            <!-- Bloque de drop zone -->
							            <!--<img-zone></img-zone>-->
										<div id="img-zone">
											<div class="form-group">
											    <input id ="file" name="file" type="file" uploader-model="file" style="display:none">
											    <!--  uploader-model="file"  ng-file-model="file"-->
												<label for="file">	
													<div id="subir_imagenes" class="btn btn-aqua"><i class="fa fa-cloud-upload" aria-hidden="true"></i> Subir imagen</div>
												</label>
												<output class="img_load" >
													<div id="list" style="padding-bottom:2px;">
														<img id="previa" class="img_preview img-responsive" src="./site_media/images/precharge.png">
													</div>
												</output>
											</div>
										</div>	
										<!-- -->
							        </div>
							        <!-- -->
							        <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 galeria_bloque_izq" style="">
										<div class="col-lg-12 form-group" style="padding: 0px;">
							            	<label class="form-label">Buscador:</label>
											<div class="input-group">
											    <input type="text" id="nombre_archivo" class="form-control animated fadeIn" placeholder="Ingrese el nombre del archivo a buscar" ng-model="album.nombre_archivo" onKeyPress="return valida(event,this,11,50)" onBlur="valida2(this,11,50);">
											    <span class="input-group-addon" ng-click="consultar_imagenes()">
											        <i class="fa fa-search"></i>
											    </span>
											</div>
										</div>
										<div class="col-lg-8 col-md-8 "></div>
											<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-group" style="float:right;">
												<div class="col-lg-4 col-md-2 col-xs-2 col-sm-2" id="eliminar_imagen" name="eliminar_imagen" style="float:right">
													<div class="btn btn-aqua" ng-click="eliminar_imagen()" title="Eliminar archivo"><i class="fa fa-trash" aria-hidden="true"></i></div>
												</div>
												<div class="col-lg-4 col-md-2 col-xs-2 col-sm-2" style="float:right">
													<div class="btn btn-aqua" ng-click="registrar_album()" title="Guardar archivo"><i class="fa fa-check" aria-hidden="true"></i></div>
												</div>
												<div class="col-lg-4 col-md-2 col-xs-2 col-sm-2" style="float:right">
													<div class="btn btn-aqua" ng-click="limpiar_pantalla()" title="Limpiar pantalla"><i class="fa fa-file-o" aria-hidden="true"></i></div>
												</div>
												<div style="clear:both"></div>						
											</div>
											<div class="col-xs-12 galeria_img" style="padding:0px;">
									            <!-- Bloque de galeria -->
												<div class="centrar_galeria" ng-show="galeria.length ==0">Galería de Imágenes</div>
												<div id="" ng-show="galeria.length!=0" class="fade-in-out">
													<div>
														<div id="masonrry" padding="0px;">
															<div class=" divbiblioteca" ng-repeat="imagen in galeria track by $index">
																<div class="grid-item col-lg-4">
																	<img class="imgbiblioteca2"  id="img_biblioteca{{$index}}" ng-src="{{imagen.path_imagen}}" height="115" data="{{imagen.id}}" ng-click="seleccionar_imagen($event)">
																	<!-- imgbiblioteca -->
																</div>
															</div>
														</div>
													</div>
												</div>
												<!-- -->
											</div>
										</div>
							        <!-- -->
								<!-- --> 
							    </div>
							</form>    
						    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="padding:0px;">
								<hr>
							</div>
							<div style="clear:both"></div>
					    </div>
				    </section>
					 
				</div>
	            <!-- -->	
            </div>
        </section>
    </section>
    <!-- END CONTENT -->
</div>
	
<!-- -->
<!--Bloque modal del sistema -->
<div class="modal fade" id="modal_mensaje" name="modal_mensaje" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg .modal-sm">
      <div class="modal-content">
        <div class="modal-header header_conf">
            <button type="button" id="cerrar_mensaje2" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <p id="cabecera_mensaje" name="cabecera_mensaje" style="color:#fff;"></p>
        </div>
        <div class="modal-body" id="cuerpo_mensaje" name="cuerpo_mensaje">
        <!--Modal body -->
        <!-- modal body-->
        </div>  
        <div class="modal-footer footer_conf">
            <!-- Footter del modal -->
              <button type="button" name="modal_reporte_salir" id="modal_reporte_salir" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
              <button type="button" name="modal_reporte_aceptar" id="modal_reporte_aceptar" class="btn btn-aqua" data-dismiss="modal" ng-click="procesar_operacion()">Aceptar</button>
            <!-- Fin footter del modal -->
        </div>
      </div>
    </div>
</div>
<!-- --> 

<script type="text/javascript">
function archivo(evt) {
	var files = evt.target.files; // FileList object
	
        //Obtenemos la imagen del campo "file".	
	for (var i = 0, f; f = files[i]; i++) {		
	     //Solo admitimos imágenes.
	     if (!f.type.match('image.*')) {
		    continue;
	     }
	
	     var reader = new FileReader();
	    
	     reader.onload = (function(theFile) {
		   return function(e) {
		   // Creamos la imagen.
		          //document.getElementById("list").innerHTML = ['<img class="thumb" src="', e.target.result,'" title="', escape(theFile.name), '"/>'].join('');
		    $("#previa").css("display","none");
		    $("#list").css("display","block");
		    $("#list").html("");
		    $("#list").append(['<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 divbiblioteca"><img class="imgbiblioteca_principal" style="width:100%" src="', e.target.result,'" title="', escape(theFile.name), '"/></div>'].join('')).fadeIn("slow");
		   };
	     })(f);

	     reader.readAsDataURL(f);
       }
}
		
	document.getElementById('file').addEventListener('change', archivo, false);
</script>