<script type="text/javascript">
	$("#select_categoria").selectpicker('refresh');
</script>
<div class='col-xs-12'>
    <div class="page-title" style="display:none">
        <div class="pull-left">
            <!-- PAGE HEADING TAG - START -->
            <h1 class="title" id="titulo_project">
				{{titulo_pagina}}
			</h1>
            <!-- PAGE HEADING TAG - END--> 
        </div>                     
    </div>
</div>
<div class="clearfix"></div>
<div class="col-xs-12">
    <section class="box ">
        <header class="panel_header">
        	<div>
	        	<div class="contenedor_icono">
		        	<div class="circulo_fuente">
		        		<i class="fa fa-picture-o" aria-hidden="true"></i>
		        	</div>
		        </div>	
	            <h2 class="title pull-left"> Registro de  album de imágenes</h2>
	        </div>    
        </header>
        <hr>
        <div class="content-body">
		<!-- Cuerpo del formulario -->
		<form id="form_registro_galeria" name="form_registro_galeria">
		    <input type="text" name="caja_valida" id="caja_valida" size="10" class="form-control" ng-model="caja_valida" ng-change="consultar_galeria()">
		    <div class="row">
		    	<div class="col-md-12 col-sm-12 col-xs-12" style="padding-left:0px;">
		    		<div class="form-group">
		                <label class="form-label" for="field-1">Arrastre o seleccione una imagen para cargar en la galería</label>
		            </div>    
		    	</div>
		        <div class="col-md-8 col-sm-12 col-xs-12" style="padding-left:0px;">
		            <div class="form-group" style="display:none">
		                <div class="controls">
		                    <select id="select_categoria"  name="select_categoria" class="form-control m-bot15 selectpicker " data-done-button="true" data-actions-box="true"  data-live-search-placeholder="Seleccione categoría" placholder="Seleccione categoría" data-style="btn-fff " data-live-search="true" ng-options="option.nombre_categoria for option in categoria track by option.id" ng-model="categoria_fa" ng-change="activar_dropzone();consultar_galeria();" >
		                    	<option value="">--Seleccione una categoría--</option>
		                    </select>
		                </div>
		            </div>
		            <!-- Bloque de drop zone -->
					<drop-zone></drop-zone>
					<!-- -->
		        </div>
		        <!-- -->
		        <div class="col-md-4 col-sm-12 col-xs-12 galeria_bloque_izq" style="">
					<div class="col-lg-12 form-group" style="padding:0px;">
						<div class="input-group">
				    <input type="text" class="form-control animated fadeIn" placeholder="Ingrese el nombre del archivo a buscar">
				    <span class="input-group-addon">
				        <i class="fa fa-search"></i>
				    </span>
				</div>
					</div>
					<div class="col-xs-12 galeria_img" style="padding:0px;">
				            <!-- Bloque de galeria -->
							<div class="centrar_galeria" ng-show="galeria.length ==0">Galeria de Imágenes</div>
							<div id="" ng-show="galeria.length!=0" class="fade-in-out">
								<div>
									<div class="col-lg-12" padding="0px;">
										<div class="col-lg-4 col-md-3 col-sm-4 col-xs-6 divbiblioteca" ng-repeat="imagen in galeria track by $index">
											<img class="imgbiblioteca"  id="img_biblioteca" src="{{imagen.path_imagen}}" height="115">
										</div>
									</div>
								</div>
							</div>
							<!-- -->
						</div>
				</div>
		        <!-- -->
		<!-- --> 
		    </div>
		</form>    
		    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="padding:0px;">
				<hr>
			</div>
			<div id="bloque_btns" class="form-group" style="float:right">
				<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="padding:0px;">
					<div class="btn btn-primary" ng-click="registrar_album()">Registrar</div>
				</div>
			</div>
			<div style="clear:both"></div>
	    </div>
    </section>
</div>