<div id="botonera-bloque" name="botonera-bloque">
	<div class="col-lg-6 col-md-8 col-xs-12 col-sm-12" style="float:right;padding:0px;">
		<div class="col-lg-4 col-md-4 col-xs-12" style="padding-right:0px;">
			<div class="btn btn-primary" style="float:right;width:100%" class="limpiar" ng-click="limpiar_cajas()"><i class="fa fa-file-o" aria-hidden="true"></i> Limpiar</div>
		</div>
		<div class="col-lg-4 col-md-4 col-xs-12" style="padding-right:0px;" >
			<div class="btn btn-primary" style="float:right;width:100%" class="consultar"><i class="fa fa-search" aria-hidden="true"></i> Consultar</div>	
		</div>
		<div class="col-lg-4 col-md-4 col-xs-12" style="padding-right:0px;">
			<div class="btn btn-primary" style="float:right;width:100%" class="registrar"><i class="fa fa-floppy-o" aria-hidden="true"></i> Registrar</div>
		</div>
	</div>
	<div  style="clear:both"></div>
</div>