<!--Preloaders -->
<div class="loading-spiner-holder" data-loading >
    <div class="loading-spiner">
        <ng-include src="'./site_media/templates/preloader.html'"></ng-include>
    </div>
</div>  
<!-- -->
<ng-include src="'./site_media/templates/header.html'"></ng-include>
	<div class="page-container row-fluid container-fluid">
<ng-include src="'./site_media/templates/menu_principal.html'"></ng-include>
 <!-- START CONTENT -->
<section id="main-content" class=" ">
	<section class="wrapper main-wrapper row" style=''>
        <div id="cuerpo_principal_doctor">
			<!--Cuerpo Principal consulta dr -->
			<div class='col-xs-12 animated fadeIn'>
			    <div class="page-title" style="display:none">
			        <div class="pull-left">
			            <!-- PAGE HEADING TAG - START -->
			            <h1 class="title" id="titulo_project">
							{{titulo_pagina}}
						</h1>
			            <!-- PAGE HEADING TAG - END--> 
			        </div>                     
			    </div>
			</div>
			<div class="clearfix"></div>
			<div class="col-xs-12">
			    <section class="box ">
			        <header class="panel_header">
			        	<div>
				        	<div class="contenedor_icono">
					        	<div class="circulo_fuente">
					        		<i class="fa fa-th" aria-hidden="true"></i>
					        	</div>
					        </div>	
				            <h2 class="title pull-left"> {{titulo_seccion}}</h2>
				        </div>    
			        </header>
			        <hr>
			        <div class="content-body">
					<!-- Cuerpo del formulario -->
					<form id="form_registro_noticias" name="form_registro_noticias" enctype="multipart/form-data">
					    <div class="row">
					    	<div class="col-md-12 col-sm-12 col-xs-12" style="padding-left:0px;">
					    		<table id="datatable2" class="table table-striped" border="0">
					    			<thead>
					    				<th>#</th>
					    				<th >Nombres</th>
					    				<th>Email</th>
					    				<th >Teléfono</th>
					    				<th style="width:300px;">Mensaje</th>
					    				<th>Operaciones</th>
					    			</thead>
					    			<tbody>
					    				<tr ng-repeat = "contac in contactos track by $index">
					    					<td>{{contac.number}}</td>
					    					<td class="justificado" width="20%"><div>{{contac.nombres}}</div></td>
				    						<td class="centrado">{{contac.email}}</td>
					    					<td class="centrado">{{contac.telefono}}</td>
					    					<td class="justificado">{{contac.mensaje_corto}}</td>
					    					<td class="centrado">
						    					<div class="form-group">
						    						<div ng-click="ver_detalle($index)" class="btn btn-danger flotar_izquierda" title="Ver detalle" style="float:left">
						    							<i class="fa fa-file-text-o" aria-hidden="true"></i>
						    						</div>
						    					</div>	
					    					</td>
					    				</tr>
					    			</tbody>
					    		</table>
					    	</div>
					<!-- --> 
					    </div>
					</form>    
					<!--  Seccion botonera -->
					   <!--<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="padding:0px;">
							<hr>
							<input type="text" size="5" id="id" name="id" ng-model="mensaje.id">
							<div class="col-lg-6 col-md-4 col-xs-12 col-sm-12" id="mensaje_album" name="mensaje_album"></div>
							<div id="botonera-bloque" name="botonera-bloque">
								<div  style="clear:both"></div>
							</div>
						</div>-->
					<!--Fin seccion botonera -->
					</div>
					<!-- Fin content -->
						<div style="clear:both"></div>
				    </div>
			    </section>
			<!--Bloque modal del sistema -->
				<div class="modal fade" id="modal_mensaje" name="modal_mensaje" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
				    <div class="modal-dialog modal-lg .modal-sm">
				      <div class="modal-content">
				        <div class="modal-header header_conf">
				            <button type="button" id="cerrar_mensaje2" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				            <p id="cabecera_mensaje" name="cabecera_mensaje">{{titulo_mensaje}}</p>
				        </div>
				        <div class="modal-body" id="cuerpo_mensaje" name="cuerpo_mensaje">
				        <!--Modal body -->
							<div class=row>
								<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
									<h3>
										Detalles:
									</h3>
								</div>
								<div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
									<div class="form-group">
										<label>Nombres:</label>
										<span>{{detalle.nombres}}</span>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
									<div class="form-group">
										<label>Teléfono:</label>
										<span>{{detalle.telefono}}</span>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
									<div class="form-group">
										<label>Email:</label>
										<span>{{detalle.email}}</span>
									</div>
								</div>
								
								<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
									<div class="form-group">
										<h3>Mensaje:</h3>
										<div class="div_wisig" id="div_descripcion">
						    				{{detalle.mensaje}}
						    			</div>
									</div>
								</div>
							</div>
				        <!-- modal body-->
				        </div>  
				        <div class="modal-footer footer_conf">
				            <!-- Footter del modal -->
				              <button type="button" name="modal_reporte_salir" id="modal_reporte_salir" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
				            <!-- Fin footter del modal -->
				        </div>
				      </div>
				    </div>
				</div>
			<!-- -->  
			</div>
		</div>
	</section>
</section>
</div>