<div class=row>
	<div class="col-lg-12 col-md-12 col-xs-12">
		Detalles:
	</div>
	<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
		<div class="form-group">
			<label>Nombres:</label>
			<span>{{detalle.nombres}}</span>
		</div>
	</div>
</div>