<!--Preloaders -->
<div class="loading-spiner-holder" data-loading >
    <div class="loading-spiner">
        <ng-include src="'./site_media/templates/preloader.html'"></ng-include>
    </div>
</div>  
<!-- -->
<ng-include src="'./site_media/templates/header.html'"></ng-include>
<div class="page-container row-fluid container-fluid">

    <ng-include src="'./site_media/templates/menu_principal.html'"></ng-include>
     <!-- START CONTENT -->
    <section id="main-content" class=" ">
    	<section class="wrapper main-wrapper row" style=''>
            <div id="cuerpo_principal_doctor">
            <!--CUERPO PRINCIPAL DR -->
				<div class='col-xs-12'>
				    <div class="page-title" style="display:none">
				        <div class="pull-left">
				            <!-- PAGE HEADING TAG - START -->
				            <h1 class="title" id="titulo_project">
								{{titulo_pagina}}
							</h1>
				            <!-- PAGE HEADING TAG - END--> 
				        </div>                     
				    </div>
				</div>
				<div class="clearfix"></div>
				<div class="col-xs-12 animated fadeIn">
				    <section class="box ">
				        <header class="panel_header">
				        	<div>
					        	<div class="contenedor_icono">
						        	<div class="circulo_fuente">
						        		<i class="fa fa-newspaper-o" aria-hidden="true"></i>
						        	</div>
						        </div>	
					            <h2 class="title pull-left"> Detalles Negocios </h2>
					        </div>    
				        </header>
				        <hr>
				        <div class="content-body">
						<!-- Cuerpo del formulario -->
						<form id="form_registro_detalles_negocios" name="form_registro_detalles_negocios" enctype="multipart/form-data">
						    <div class="row">
							    <div id="tabs">
							    	<!--Tabs -->
							    	<ul id="menutabs" class="nav nav-tabs">
								    	<li class="active" ng-class="{'active': currentTab === 'datos_basicos'}" ng-click="currentTab = 'datos_basicos';iniciar_select()" ><a class="tabs" >Datos Básicos</a></li>
								    	<li ng-class="{'active': currentTab === 'imagenes'}" ng-click="currentTab = 'imagenes'"><a  class="tabs">Imagenes</a></li>
							    	</ul>
								    <div class="tab-content">
								    	<div id="datos_basicos" class="tab-pane fade in"  ng-class="{'active':currentTab === 'datos_basicos'}">
									    	<div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 padding0_min " style="padding-top: 5px; padding-left:0px;">
							    				<label class="form-label">Idioma:</label>
								    			<select name="idioma" id="idioma" class="form-control m-bot15 select-picker" data-done-button="true" data-actions-box="true"  data-live-search-placeholder="Seleccione tipo de idioma" placholder="Seleccione tipo de idioma" data-style="btn-fff " data-live-search="true" ng-options="option.descripcion for option in idioma track by option.id" ng-model="detallesNegocios.idioma" data-size="3">
													<option value="">--Seleccione un idioma--</option>
												</select>
								    		</div>
								    		<div class="col-lg-4 col-md-4 col-xs-12 col-sm-12" style="padding-top: 5px;">
								    			<label class="form-label">Tipo de negocio:</label>
								    			<select name="tipo_negoc io" id="tipo_negocio" class="form-control m-bot15 select-picker" data-done-button="true" data-actions-box="true"  data-live-search-placeholder="Seleccione tipo de negocio" placholder="Seleccione tipo de negocio" data-style="btn-fff " data-live-search="true" ng-options="option.titulo for option in tipos_negocios track by option.id" ng-model="detallesNegocios.tipo_negocio" data-size="3">
													<option value="">--Seleccione tipo de negocio--</option>
												</select>
								    		</div>
								    		<div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
								    			<div class="form-group">
													<label class="form-label">Título:</label>
													    <div class="controls">
								    						<input type="text" name="titulo_detalles_negocios" id="titulo_detalles_negocios" class="form-control" ng-model="detallesNegocios.titulo" placeholder="Ingrese el título del negocio" onKeyPress="return valida(event,this,18,100)" onBlur="valida2(this,18,100);">
								    					</div>
								    			</div>			
								    		</div>
								    		<!-- -->						    
									    	<div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
									    		<div class="form-group">
													<label class="form-label">Descripción # 1:</label>
														<div class="div_wisig" id="div_descripcion1" ng-click="wisi_modal('1')">
										    				Pulse aquí para ingresar el contenido  del negocio
										    			</div>
													   
									    		</div>		
									    	</div>
									    	<!-- -->
									    	<div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
									    		<div class="form-group">
													<label class="form-label">Descripción # 2:</label>
														<div class="div_wisig" id="div_descripcion2" ng-click="wisi_modal('2')">
										    				Pulse aquí para ingresar el contenido  del negocio
										    			</div>
													    
									    		</div>		
									    	</div>
									    	<!-- -->
									    	<div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
									    		<div class="form-group">
													<label class="form-label">Descripción # 3: (No es obligatoria)</label>
														<div class="div_wisig" id="div_descripcion3" ng-click="wisi_modal('3')">
										    				Pulse aquí para ingresar el contenido  del negocio
										    			</div>
													    
									    		</div>		
									    	</div>
									    	<!-- -->
								    		<div class="col-lg-6 col-md-6 col-xs-12 col-sm-12" ng-class="{visible:detallesNegocios.id!='',invisible:detallesNegocios.id===''}">
								    			<div class="form-group">
								        			<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 col-xs-12" style="padding:0px;">
								        				<label class="form-label">Estatus:</label>
								        			</div>	
								        			<div class="controls col-lg-6 col-md-12 col-xs-12 col-sm-12" style="float:left;">
								        				<div ng-click="activar_check('#check_publicado');"><i id="check_publicado" class="fa fa-square-o cuadrado" style="" aria-hidden="true"></i></div>
								        				<div>  Publicado</div>
								        			</div>
										        </div>
								    		</div>
									    	<!-- -->
							                <div class="col-lg-12">
							                  <input id ="file" name="file" type="file" uploader-model="file" style="display:none">
							                    <!--  uploader-model="file"  ng-file-model="file"-->
							                  <label for="file">  
							                    <div id="adjuntar_archivo" class="btn btn-primary"><i class="fa fa-cloud-upload" aria-hidden="true"></i> Adjuntar Folleto</div>
							                    <div id="nombre_archivo"></div>

							                  </label>
							                </div> 
							                <!-- --> 
									    </div>	
								    	<!-- -->
								    	<div id="imagenes" class="tab-pane fade in" ng-class="{'active':currentTab === 'imagenes'}">	
									    	<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
												<div class="img_principal"  ng-click="seleccione_img_principal()">
												<div ng-class="{'invisible':activo_img==='activo','visible':activo_img==='inactivo'}">
													<span><i class="fa fa-picture-o" aria-hidden="true"></i> Seleccione imagen </span>
												</div>
												<div class="mensaje_img_principal" ng-class="{'visible':activo_img==='activo','invisible':activo_img==='inactivo'}">
													<img class="img_noticias" id="img_seleccionada" ng-src="{{detallesNegocios.imagen}}" height="115" data="">
												</div>
												</div>
									    	</div>
									    </div>	
								    	<!-- -->
										<div style="clear:both"></div>
									</div>
								<!-- --> 
							    </div>
							</div>    
						</form> 
						    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="padding:0px;">
								<input type="hidden" size="5" id="id" name="id" ng-model="doctor.id">
								<div class="col-lg-6 col-md-4 col-xs-12 col-sm-12" id="mensaje_detalles_negocios" name="mensaje_detalles_negocios"></div>
								<div id="botonera-bloque" name="botonera-bloque" style="margin-top:10px;">
									<div class="col-lg-6 col-md-8 col-xs-12 col-sm-12" style="float:right;padding:0px;">
										<div class="col-lg-4 col-md-4 col-xs-12" style="padding-right:0px;">
											<div class="btn btn-aqua" style="float:right;width:100%" class="limpiar" ng-click="limpiar_cajas_detalles_negocios()"><i class="fa fa-file-o" aria-hidden="true"></i> Limpiar</div>
										</div>
										<div class="col-lg-4 col-md-4 col-xs-12" style="padding-right:0px;" >
											<div class="btn btn-aqua" style="float:right;width:100%" class="consultar" ng-click="consultar_detalles_negocios()"><i class="fa fa-search" aria-hidden="true"></i> Consultar</div>
										</div>
										<div class="col-lg-4 col-md-4 col-xs-12" style="padding-right:0px;">
											<div class="btn btn-aqua" style="float:right;width:100%" class="registrar" ng-click="registrar_detalles_negocios()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Registrar</div>
										</div>
									</div>
									<div  style="clear:both"></div>
								</div>
							</div>
							<div style="clear:both"></div>
					    </div>
				    </section>
					<!--Bloque modal del sistema -->
					<div class="modal fade" id="modal_mensaje" name="modal_mensaje" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
					    <div class="modal-dialog modal-lg .modal-sm">
					      <div class="modal-content">
					        <div class="modal-header header_conf">
					            <button type="button" id="cerrar_mensaje2" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					            <p id="cabecera_mensaje" name="cabecera_mensaje"></p>
					        </div>
					        <div class="modal-body" id="cuerpo_mensaje" name="cuerpo_mensaje">
					        <!--Modal body -->
					        <!-- modal body-->
					        </div>  
					        <div class="modal-footer footer_conf">
					            <!-- Footter del modal -->
					              <button type="button" name="modal_reporte_salir" id="modal_reporte_salir" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
					              <button type="button" name="modal_reporte_aceptar" id="modal_reporte_aceptar" class="btn btn-primary" data-dismiss="modal" ng-click="procesar_operacion()">Aceptar</button>
					            <!-- Fin footter del modal -->
					        </div>
					      </div>
					    </div>
					</div>
					<!-- --> 
				</div>
			<!-- FIN CUERPO PRINCIPAL DR -->	
			</div>
		</section>		
	</section>
	<!-- END CONTENT -->
</div>
<!--Cuerpo del Modal -->
<!--modal1 -->
<!--Bloque modal del sistema -->
<div class="modal fade" id="modal_img1" name="modal_img1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg .modal-sm">
      <div class="modal-content">
        <div class="modal-header header_conf">
            <button type="button" id="cerrar_mensaje2" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <p id="cabecera_mensaje" name="cabecera_mensaje"><b>Información:</b> Seleccione uma imagen</p>
        </div>
        <div class="modal-body" id="cuerpo_mensaje" name="cuerpo_mensaje">
	        <!--Modal body -->
			<div class="centrar_galeria" ng-show="galery.length ==0">Galería de imágenes negocios</div>
			<div id="" ng-show="galery.length!=0" class="fade-in-out">
				<div>
					<div class="form-group">
						<input type='text' name='filtro_detalles_negocios' id='filtro_detalles_negocios' placeholder='Ingrese el valor a filtrar' class="form-control" ng-model="searchDetallesNegocios">
					</div>
					<div class="col-lg-12" padding="0px;">
						<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 divbiblioteca" ng-repeat="imagen in galery|filter:searchDetallesNegocios track by $index">
							<img class="imgbiblioteca"  id="img_biblioteca{{$index}}" ng-src="{{imagen.path_imagen}}" height="115" data="{{imagen.id}}|{{imagen.path_imagen}}" data-ng-click="seleccionar_imagen($event)">
						</div>
					</div>
				</div>
			</div>
			<div style="clear:both"></div>
	        <!-- modal body-->
        </div>  
        <div class="modal-footer footer_conf">
            <!-- Footter del modal -->
              <button type="button" name="modal_reporte_salir" id="modal_reporte_salir" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            <!-- Fin footter del modal -->
        </div>
        <div style="clear:both"></div>
      </div>
    </div>
</div>
<!--Bloque modal del sistema -->
<div class="modal fade" id="modal_contenido" name="modal_contenido" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg .modal-sm">
      <div class="modal-content">
        <div class="modal-header header_conf">
            <button type="button" id="cerrar_mensaje2" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <p id="cabecera_mensaje" name="cabecera_mensaje">
            	Ingrese el contenido del detalle de negocio
            </p>
        </div>
        <div class="modal-body" id="cuerpo_mensaje" name="cuerpo_mensaje">
        <!--Modal body -->
        	<div class="row">
        		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        			<textarea class="form-control" id="detalle_descripcion" name="detalle_descripcion"></textarea>
        		</div>
        	</div>
        <!-- modal body-->
        </div>  
        <div class="modal-footer footer_conf">
            <!-- Footter del modal -->
              <button type="button" name="modal_reporte_salir" id="modal_reporte_salir" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
              <button type="button" name="modal_reporte_aceptar" id="modal_reporte_aceptar" class="btn btn-primary" data-dismiss="modal" ng-click="agregar_contenido()">Agregar</button>
            <!-- Fin footter del modal -->
        </div>
      </div>
    </div>
</div>
<!-- --> 
<script type="text/javascript">
	$("#detalle_descripcion").trumbowyg();
	document.getElementById('file').addEventListener('change', seleccionar_imagen, false);
</script>