<script type="text/javascript" src="site_media/js/angular/controladores/quienesSomosController.js"></script>
<!--Preloaders -->
<div class="loading-spiner-holder" data-loading >
    <div class="loading-spiner">
        <ng-include src="'./site_media/templates/preloader.html'"></ng-include>
    </div>
</div>  
<!-- -->
<ng-include src="'./site_media/templates/header.html'"></ng-include>
<div class="page-container row-fluid container-fluid">
    <ng-include src="'./site_media/templates/menu_principal.html'"></ng-include>
     <!-- START CONTENT -->
    <section id="main-content" class="" style="">

    	<section class="wrapper main-wrapper row" >
            <div id="cuerpo_principal_doctor">
            <!--  -->
				<div class='col-xs-12'>
				    <div class="page-title" style="display:none">
				        <div class="pull-left">
				            <!-- PAGE HEADING TAG - START -->
				            <h1 class="title" id="titulo_project">
								{{titulo_pagina}}
							</h1>
				            <!-- PAGE HEADING TAG - END--> 
				        </div>                     
				    </div>
				</div>
				<div class="clearfix"></div>
				<div class="col-xs-12 animated fadeIn">
				    <section class="box ">
				        <header class="panel_header">
				        	<div>
					        	<div class="contenedor_icono">
						        	<div class="circulo_fuente">
						        		<i class="fa fa-map-marker" aria-hidden="true"></i>
						        	</div>
						        </div>	
					            <h2 class="title pull-left"> {{titulo_pagina}} </h2>
					        </div>    
				        </header>
				        <hr>
				        <div class="content-body">
						<!-- Cuerpo del formulario -->
						<form id="form_registro_especialidades" name="form_registro_especialidades" enctype="multipart/form-data">
						    <div class="row" id="super_contenedor">
						    	<!-- -->
						    	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="form-group">
										<label>Dirección:</label>
										<textarea style="resize: none" class="form-control" placeholder="Ingrese la dirección" ng-model="direccion.descripcion"></textarea>
							    	</div>
								</div>
								<!-- -->
						    	<div id="fila_0" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
									<div class="form-group">
										<label>Teléfono #1</label>
										<input type="text" name="telefono_direccion" id="telefono_direccion_0" class="form-control  tlf_direccion" placeholder="Formato:+58-xxx-xxx-xx-xx" onKeyPress="return valida(event,this,13,17)" onBlur="valida2(this,13,17);formato_tlf(this);" maxlength="50">
							    	</div>
								</div>
								<!-- -->  
							</div>    
						</form> 
						    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="padding:0px;padding-bottom: 80px;">
								<input type="hidden" size="5" id="id" name="id" ng-model="doctor.id">
								<!--<div class="col-lg-4 col-md-4 col-xs-12 col-sm-12" id="mensaje_direccion" name="mensaje_direccion"></div>-->
								<div class="col-lg-6 col-md-6 col-xs-12 col-sm-12" ng-class="{visible:direccion.id!='',invisible:direccion.id===''}">
					    			<div class="form-group">
					        			<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 col-xs-12" style="padding:0px;">
					        				<label class="form-label">Estatus:</label>
					        			</div>	
					        			<div class="controls col-lg-6 col-md-12 col-xs-12 col-sm-12" style="float:left;">
					        				<div ng-click="activar_check('#check_publicado');"><i id="check_publicado" class="fa fa-square-o cuadrado" style="" aria-hidden="true"></i></div>
					        				<div>  Publicado</div>
					        			</div>
							        </div>
					    		</div>
								<div id="botonera-bloque" name="botonera-bloque" style="margin-top:10px;">
									<div class="col-lg-6 col-md-6 col-xs-12 col-sm-12" style="float:right;padding:0px;">
										<div class="col-lg-4 col-md-4 col-xs-12" style="padding-right:0px;">
											<div class="btn btn-aqua" style="float:right;width:100%" class="limpiar" ng-click="quitar_telefono()"><i class="fa fa-minus-circle" aria-hidden="true"></i> Quitar TLF</div>
										</div>
										<div class="col-lg-4 col-md-4 col-xs-12" style="padding-right:0px;">
											<div class="btn btn-aqua" style="float:right;width:100%" class="limpiar" ng-click="agregar_telefono()"><i class="fa fa-plus-circle" aria-hidden="true"></i> Agregar TLF</div>
										</div>	
										<div class="col-lg-4 col-md-4 col-xs-12" style="padding-right:0px;">
											<div class="btn btn-aqua" style="float:right;width:100%" class="limpiar" ng-click="limpiar_direccion()"><i class="fa fa-file-o" aria-hidden="true"></i> Limpiar</div>
										</div>
										<div class="col-lg-4 col-md-4 col-xs-12" style="padding-right:0px;float:right">
											<div class="btn btn-aqua" style="float:right;width:100%" class="registrar" ng-click="registrar_direccion()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Registrar</div>
										</div>
										<div class="col-lg-4 col-md-4 col-xs-12" style="padding-right:0px;float:right">
											<div class="btn btn-aqua" style="float:right;width:100%" class="coonsultar" ng-click="consultar_direccion()"><i class="fa fa-search" aria-hidden="true"></i> Consultar</div>
										</div>
									</div>
									<div  style="clear:both"></div>
								</div>
							</div>
							<div style="clear:both"></div>
					    </div>
				    </section>

				</div>
			<!-- FIN CUERPO PRINCIPAL DR -->	
			</div>
		</section>		
	</section>
	<!-- END CONTENT -->
</div>