<!--Preloaders -->
<div class="loading-spiner-holder" data-loading >
    <div class="loading-spiner">
        <ng-include src="'./site_media/templates/preloader.html'"></ng-include>
    </div>
</div>  
<!-- -->
<ng-include src="'./site_media/templates/header.html'"></ng-include>
<div class="page-container row-fluid container-fluid">

    <ng-include src="'./site_media/templates/menu_principal.html'"></ng-include>
     <!-- START CONTENT -->
    <section id="main-content" class=" ">
    	<section class="wrapper main-wrapper row" style=''>
            <div id="cuerpo_principal_doctor">
            <!--CUERPO PRINCIPAL DR -->
				<div class='col-xs-12'>
				    <div class="page-title" style="display:none">
				        <div class="pull-left">
				            <!-- PAGE HEADING TAG - START -->
				            <h1 class="title" id="titulo_project">
								{{titulo_pagina}}
							</h1>
				            <!-- PAGE HEADING TAG - END--> 
				        </div>                     
				    </div>
				</div>
				<div class="clearfix"></div>
				<div class="col-xs-12 animated fadeIn">
				    <section class="box ">
				        <header class="panel_header">
				        	<div>
					        	<div class="contenedor_icono">
						        	<div class="circulo_fuente">
						        		<i class="fa fa-users" aria-hidden="true"></i>
						        	</div>
						        </div>	
					            <h2 class="title pull-left"> Doctores</h2>
					        </div>    
				        </header>
				        <hr>
				        <div class="content-body">
						<!-- Cuerpo del formulario -->
						<form id="form_registro_galeria" name="form_registro_galeria" enctype="multipart/form-data">
						    <div class="row">
							    <div id="tabs">
							    	<!--Tabs -->
							    	<ul id="menutabs" class="nav nav-tabs">
								    	<li class="active" ng-class="{'active': currentTab === 'datos_basicos'}" ng-click="currentTab = 'datos_basicos';iniciar_select()" ><a class="tabs" >Datos Básicos</a></li>
								    	<li ng-class="{'active': currentTab === 'resumen_curricular'}" ng-click="currentTab = 'resumen_curricular'"><a  class="tabs" >Resumen Curricular</a></li>
								    	<li ng-class="{'active': currentTab === 'imagenes'}" ng-click="currentTab = 'imagenes'"><a  class="tabs">Imagenes</a></li>
							    	</ul>
							    	<div class="tab-content">
								    	<div id="datos_basicos" class="tab-pane fade in"  ng-class="{'active':currentTab === 'datos_basicos'}">
									    	<div class="col-md-12 col-sm-12 col-xs-12" style="padding-left:0px;">
									    		<div class="col-lg-8 col-md-8 col-xs-8 col-sm-8">
										    		<div class="form-group">
										                <label class="form-label" for="field-1">Ingrese la información pertinente a doctores</label>
										            </div>
									            </div> 
									            <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
									            	<div id="mensaje_album" name="mensaje_album"></div>
									            </div>   
									    	</div>
									    	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										        <div class="col-md-6 col-sm-12 col-xs-12" style="padding-left:0px;">
										            <div class="form-group">
										            	<label class="form-label">Cédula:</label>
										                <div class="controls">
										                <input type="text" name="doctor_cedula" id="doctor_cedula" class="form-control" ng-model="doctor.cedula" placeholder="Ingrese número de cédula" onKeyPress="return valida(event,this,10,50)" onBlur="valida2(this,10,50);" >
										                </div>
										            </div>
										        </div>
										        <div class="col-md-6 col-sm-12 col-xs-12" style="padding:0px;">
											        <div class="form-group">
										            	<label class="form-label">Nombres y Apellidos:</label>
										            	<div class="controls">
										                	<input id="doctor_nombres" name="doctor_nombres" class="form-control" ng-model="doctor.nombres_apellidos" placeholder="Ingrese nombres y apellidos" onKeyPress="return valida(event,this,18,50)" onBlur="valida2(this,18,50);">
										                </div>
											        </div>
										        </div>
									        </div>
									        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-right:0px;">
									        	<div class="col-lg-6 col-sm-12 col-xs-12" style="padding-left: 0px;">
									        		<div class="form-group">
										            	<label class="form-label">Especialidad:</label>
										            	<div class="controls">
										                	<select name="doctor_especialidad" id="doctor_especialidad" class="form-control m-bot15 select-picker" data-done-button="true" data-actions-box="true"  data-live-search-placeholder="Seleccione una especialidad" placholder="Seleccione una especialidad" data-style="btn-fff " data-live-search="true" ng-options="option.titulo for option in especialidad track by option.id" ng-model="doctor.especialidad" data-size="3">
																<option value="">--Seleccione Especialidad--</option>
															</select>
										                </div>
												    </div>
											    </div>
											    <div class="col-lg-6 col-sm-12 col-xs-12" ng-class="{visible:doctor.id!='',invisible:doctor.id===''}" style="padding-left:0px;">
									        		<div class="form-group">
									        			<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 col-xs-12" style="padding-left:0px;">
									        				<label class="form-label">Estatus:</label>
									        			</div>	
									        			<div class="controls col-lg-6 col-md-12 col-xs-12 col-sm-12" style="float:left;padding-left:0px;">
									        				<div ng-click="activar_check('#check_publicado');"><i id="check_publicado" class="fa fa-square-o cuadrado" style="" aria-hidden="true"></i></div>
									        				<div>  Publicado</div>
									        			</div>
										        	</div>
											    </div> 
									        </div>
									    </div>
									    <div id="resumen_curricular" class="tab-pane fade in" ng-class="{'active':currentTab === 'resumen_curricular'}">    
									        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								        		<div class="form-group">
									            	<label class="form-label">Resumén curricular:</label>
									            	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									            	</div>
									            	<div class="controls">
									                	<textarea name="doctor_descripcion" id="doctor_descripcion" class="form-control"  placeholder="Ingrese resumén experiencia..." onKeyPress="return valida(event,this,18,50)" onBlur="valida2(this,18,50);" ng-model="doctor.descripcion"></textarea>
									                </div>
									            </div>
											</div>
										</div>
										<div id="imagenes_dr" class="tab-pane fade in" ng-class="{'active':currentTab === 'imagenes'}">	
											<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="padding:0px;">
												<div class="col-lg-3 col-md-3 col-xs-12 col-sm-12" >
													
													<div class="img_principal"  ng-click="seleccione_img_principal()">
														<div ng-class="{'invisible':activo_img==='activo','visible':activo_img==='inactivo'}">
															<span><i class="fa fa-picture-o" aria-hidden="true"></i> Imagen principal </span>
														</div>
														<div class="col-lg-12 mensaje_img_principal" ng-class="{'visible':activo_img==='activo','invisible':activo_img==='inactivo'}">
															<img class="img_dr2" id="img_seleccionada" ng-src="{{doctor.imagen}}" height="115" data="">
														</div>
														<div style="clear:both"></div>
													</div>
												</div>
												<div class="col-lg-9 col-md-9 col-xs-12 col-sm-12">
													<div class="mensaje_galeria" style="display:none">
													</div>
													<div class="img_galeria" ng-click="seleccione_img_soporte()">
														<div ng-class="{'invisible':activo_img_soportes==='activo','visible':activo_img_soportes==='inactivo'}" style="line-height:250px;">
															<span><i class="fa fa-picture-o" aria-hidden="true"></i> Imagenes Soportes cv </span>
														</div>
														<div id="masonrry" padding="0px;" class="">
															<div class="mensaje_img_principal grid" ng-class="{'visible':activo_img_soportes==='activo','invisible':activo_img_soportes==='inactivo'}" ng-repeat="imag in doctores_soportes track by $index" id="cuerpo_img_soportes">
																<div class="grid-item col-lg-4">
																	<img class="img_soportes" id="img_seleccionada" ng-src="{{imag}}" data="">
																</div>
															</div>
														</div>	
													</div>
												</div>
											</div>
										</div>
										<div style="clear:both"></div>
									</div>	
									<!-- Fin de tabs -->
								</div>
								<div style="clear:both"></div>
								<!-- --> 
						    </div>
						</form>    
						    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="padding:0px;">
								<input type="hidden" size="5" id="id" name="id" ng-model="doctor.id">
								<div class="col-lg-6 col-md-4 col-xs-12 col-sm-12" id="mensaje_dr" name="mensaje_dr"></div>
								<div id="botonera-bloque" name="botonera-bloque" style="margin-top:10px;">
									<div class="col-lg-6 col-md-8 col-xs-12 col-sm-12" style="float:right;padding:0px;">
										<div class="col-lg-4 col-md-4 col-xs-12" style="padding-right:0px;">
											<div class="btn btn-aqua" style="float:right;width:100%" class="limpiar" ng-click="limpiar_cajas()"><i class="fa fa-file-o" aria-hidden="true"></i> Limpiar</div>
										</div>
										<div class="col-lg-4 col-md-4 col-xs-12" style="padding-right:0px;" >
											<div class="btn btn-aqua" style="float:right;width:100%" class="consultar" ng-click="consultar_doctores()"><i class="fa fa-search" aria-hidden="true"></i> Consultar</div>
										</div>
										<div class="col-lg-4 col-md-4 col-xs-12" style="padding-right:0px;">
											<div class="btn btn-aqua" style="float:right;width:100%" class="registrar" ng-click="registrar_doctor()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Registrar</div>
										</div>
									</div>
									<div  style="clear:both"></div>
								</div>
							</div>
							<div style="clear:both"></div>
					    </div>
				    </section>
					<!--Bloque modal del sistema -->
					<div class="modal fade" id="modal_mensaje" name="modal_mensaje" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
					    <div class="modal-dialog modal-lg .modal-sm">
					      <div class="modal-content">
					        <div class="modal-header header_conf">
					            <button type="button" id="cerrar_mensaje2" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					            <p id="cabecera_mensaje" name="cabecera_mensaje"></p>
					        </div>
					        <div class="modal-body" id="cuerpo_mensaje" name="cuerpo_mensaje">
					        <!--Modal body -->
					        <!-- modal body-->
					        </div>  
					        <div class="modal-footer footer_conf">
					            <!-- Footter del modal -->
					              <button type="button" name="modal_reporte_salir" id="modal_reporte_salir" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
					              <button type="button" name="modal_reporte_aceptar" id="modal_reporte_aceptar" class="btn btn-primary" data-dismiss="modal" ng-click="procesar_operacion()">Aceptar</button>
					            <!-- Fin footter del modal -->
					        </div>
					      </div>
					    </div>
					</div>
					<!-- --> 
				</div>
			<!-- FIN CUERPO PRINCIPAL DR -->	
			</div>
		</section>		
	</section>
	<!-- END CONTENT -->
</div>		
<!--Cuerpo del Modal -->
<!--modal1 -->
<!--Bloque modal del sistema -->
<div class="modal fade" id="modal_img1" name="modal_img1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg .modal-sm">
      <div class="modal-content">
        <div class="modal-header header_conf">
            <button type="button" id="cerrar_mensaje2" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <p id="cabecera_mensaje" name="cabecera_mensaje"><b>Información:</b> Seleccione la foto del Doctor(@)</p>
        </div>
        <div class="modal-body" id="cuerpo_mensaje" name="cuerpo_mensaje">
	        <!--Modal body -->
			<div class="centrar_galeria" ng-show="galeria.length ==0">Galería de Imágenes</div>
			<div id="" ng-show="galeria.length!=0" class="fade-in-out">
				<div>
					<div class="form-group">
						<input type='text' name='filtro_doctores' id='filtro_doctores' placeholder='Ingrese el valor a filtrar' class="form-control" ng-model="searchDoctores">
					</div>
					<div class="col-lg-12" padding="0px;">
						<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 divbiblioteca" ng-repeat="imagen in galeria | filter:searchDoctores track by $index">
							<img class="imgbiblioteca"  id="img_biblioteca{{$index}}" ng-src="{{imagen.path_imagen}}" height="115" data="{{imagen.id}}|{{imagen.path_imagen}}" data-ng-click="seleccionar_imagen($event)">
						</div>
					</div>
				</div>
			</div>
			<div style="clear:both"></div>
	        <!-- modal body-->
        </div>  
        <div class="modal-footer footer_conf">
            <!-- Footter del modal -->
              <button type="button" name="modal_reporte_salir" id="modal_reporte_salir" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            <!-- Fin footter del modal -->
        </div>
        <div style="clear:both"></div>
      </div>
    </div>
</div>
<!-- Segundo modal  -->
<div class="modal fade" id="modal_img2" name="modal_img2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg .modal-sm">
      <div class="modal-content">
        <div class="modal-header header_conf">
            <button type="button" id="cerrar_mensaje2" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <p id="cabecera_mensaje" name="cabecera_mensaje"><b>Información:</b> Seleccione los soportes</p>
        </div>
        <div class="modal-body" id="cuerpo_mensaje" name="cuerpo_mensaje">
	        <!--Modal body -->
			<div class="centrar_galeria" ng-show="galeria_soporte.length ==0">No se han cargado imagenes</div>
			<div id="" ng-show="galeria_soporte.length!=0" class="fade-in-out">
				<div class="form-group">
					<input type='text' name='filtro_soportes' id='filtro_soportes' placeholder='Ingrese el valor a filtrar' class="form-control" ng-model="searchSoportes">
				</div>
				<div>
					<div class="col-lg-12" padding="0px;" class="img_galeria_soportes">
						<div id="masonrry2" padding="0px;">
							<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 divbiblioteca" ng-repeat="imagen in galeria_soporte | filter : searchSoportes track by $index">
								<div class="grid-item3">
									<img class="imgbiblioteca" id="img_soporte{{$index}}" ng-src="{{imagen.path_imagen}}" height="115" data-ng-click="seleccionar_imagen_soportes($event)" data="{{imagen.id}}|{{imagen.path_imagen}}">
								</div>
							</div>
						</div>	
					</div>
				</div>
			</div>
			<div style="clear:both"></div>
	        <!-- modal body-->
        </div>  
        <div class="modal-footer footer_conf">
            <!-- Footter del modal -->
              <button type="button" name="modal_reporte_salir" id="modal_reporte_salir" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
            <!-- Fin footter del modal -->
        </div>
        <div style="clear:both"></div>
      </div>
    </div>
</div>
<!-- --> 
<script type="text/javascript">
	setTimeout(function(){
			//--
			$("#doctor_especialidad").selectpicker('refresh');
			//--
	},2000);
	$("#doctor_descripcion").trumbowyg();
</script>