<script type="text/javascript" src="site_media/js/angular/controladores/quienesSomosController.js"></script>
<!--Preloaders -->
<div class="loading-spiner-holder" data-loading >
    <div class="loading-spiner">
        <ng-include src="'./site_media/templates/preloader.html'"></ng-include>
    </div>
</div>  
<!-- -->
<ng-include src="'./site_media/templates/header.html'"></ng-include>
<div class="page-container row-fluid container-fluid">
    <ng-include src="'./site_media/templates/menu_principal.html'"></ng-include>
     <!-- START CONTENT -->
    <section id="main-content" class="" style="">

    	<section class="wrapper main-wrapper row" >
            <div id="cuerpo_principal_doctor">
            <!--  -->
				<div class='col-xs-12'>
				    <div class="page-title" style="display:none">
				        <div class="pull-left">
				            <!-- PAGE HEADING TAG - START -->
				            <h1 class="title" id="titulo_project">
								{{titulo_pagina}}
							</h1>
				            <!-- PAGE HEADING TAG - END--> 
				        </div>                     
				    </div>
				</div>
				<div class="clearfix"></div>
				<div class="col-xs-12 animated fadeIn">
				    <section class="box ">
				        <header class="panel_header">
				        	<div>
					        	<div class="contenedor_icono">
						        	<div class="circulo_fuente">
						        		<i class="fa fa-caret-square-o-down" aria-hidden="true"></i>
						        	</div>
						        </div>	
					            <h2 class="title pull-left"> {{titulo_pagina}} </h2>
					        </div>    
				        </header>
				        <hr>
				        <div class="content-body">
						<!-- Cuerpo del formulario -->
						<form id="form_registro_especialidades" name="form_registro_especialidades" enctype="multipart/form-data">
						    <div class="row" id="super_contenedor">
						    	<!-- -->
						    	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="form-group">
										<label>Información:</label>
										<textarea style="resize: none" class="form-control" placeholder="Ingrese la dirección" ng-model="footer.descripcion"></textarea>
							    	</div>
								</div>
								<!-- -->
						    	<div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
						    		<div class="form-group">
							    		<label>Correo:</label>
							    		<input type="text" class="form-control" id="correo_empresa" name="correo_empresa" placeholder="Ingrese el correo" ng-model="footer.correo" onKeyPress="return valida(event,this,22,100)" onBlur="valida2(this,22,100);">
							    	</div>	
						    	</div>
						    	<div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
						    		<div class="form-group">
							    		<label>Rif:</label>
							    		<input type="text" class="form-control" id="rif_empresa" name="rif_empresa" placeholder="Ingrese el rif" ng-model="footer.rif" onKeyPress="return valida(event,this,9,20)" onBlur="valida2(this,9,20);">
						    		</div>
						    	</div>
								<!-- -->  
							</div>    
						</form> 
						    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="padding:0px;padding-bottom: 80px;">
								<input type="hidden" size="5" id="id" name="id" ng-model="doctor.id">
								<!--<div class="col-lg-4 col-md-4 col-xs-12 col-sm-12" id="mensaje_direccion" name="mensaje_direccion"></div>-->

								<div id="botonera-bloque" name="botonera-bloque" style="margin-top:10px;">
									<div class="col-lg-6 col-md-6 col-xs-12 col-sm-12" style="float:right;padding:0px;">	
										<div class="col-lg-4 col-md-4 col-xs-12" style="padding-right:0px;">
										</div>
										<div class="col-lg-4 col-md-4 col-xs-12" style="padding-right:0px;float:right">
											<div class="btn btn-aqua" style="float:right;width:100%" class="registrar" ng-click="registrar_footer()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Registrar</div>
										</div>
										
									</div>
									<div  style="clear:both"></div>
								</div>
							</div>
							<div style="clear:both"></div>
					    </div>
				    </section>

				</div>
			<!-- FIN CUERPO PRINCIPAL DR -->	
			</div>
		</section>		
	</section>
	<!-- END CONTENT -->
</div>