<div class="galeria-imagenes">
	<div ng-repeat="galeria in imagen">{{galeria}}
		<div class="col-lg-12" padding="0px;">
			<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 divbiblioteca">
				<img class="imgbiblioteca"  id="img_biblioteca" src="{{imagen.path_imagen}}" height="115">
			</div>
		</div>
	</div>
</div>