<!--Preloaders -->
<div class="loading-spiner-holder" data-loading >
    <div class="loading-spiner">
        <ng-include src="'./site_media/templates/preloader.html'"></ng-include>
    </div>
</div>  
<!-- -->
<ng-include src="'./site_media/templates/header.html'"></ng-include>
<div class="page-container row-fluid container-fluid">

    <ng-include src="'./site_media/templates/menu_principal.html'"></ng-include>
     <!-- START CONTENT -->
    <section id="main-content" class=" ">
    	<section class="wrapper main-wrapper row" style=''>
            <div id="cuerpo_principal_doctor">
            <!--CUERPO PRINCIPAL DR -->
				<div class='col-xs-12'>
				    <div class="page-title" style="display:none">
				        <div class="pull-left">
				            <!-- PAGE HEADING TAG - START -->
				            <h1 class="title" id="titulo_project">
								{{titulo_pagina}}
							</h1>
				            <!-- PAGE HEADING TAG - END--> 
				        </div>                     
				    </div>
				</div>
				<div class="clearfix"></div>
				<div class="col-xs-12 animated fadeIn">
				    <section class="box ">
				        <header class="panel_header">
				        	<div>
					        	<div class="contenedor_icono">
						        	<div class="circulo_fuente">
						        		<i class="fa fa-picture-o" aria-hidden="true"></i>
						        	</div>
						        </div>	
					            <h2 class="title pull-left"> Galeria de magenes</h2>
					        </div>    
				        </header>
				        <hr>
				        <div class="content-body">
							<!-- Cuerpo del formulario -->
							<form id="form_registro_galeria" name="form_registro_galeria" enctype="multipart/form-data">
							    <div class="row">
								    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
								    	<div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
											<div class="img_principal"  ng-click="seleccione_img_principal()">
												<div ng-class="{'invisible':activo_img==='activo','visible':activo_img==='inactivo'}">
													<span><i class="fa fa-picture-o" aria-hidden="true"></i> Seleccione imagen </span>
												</div>
												<div class="mensaje_img_principal" ng-class="{'visible':activo_img==='activo','invisible':activo_img==='inactivo'}">
													<img class="img_dr" id="img_seleccionada" ng-src="{{galeria.imagen}}" height="115" data="">
												</div>
											</div>
								    	</div>
								    	<div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
								    		<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="padding:0px;">
								    			<textarea class="form-control" placeholder="Ingrese descripción de la imagen" onkeypress="return valida(event,this,18,250)" onblur="valida2(this,18,250);" maxlength="1000" style="resize:none" rows="6" ng-model="galeria.descripcion" id="galeria_descripcion" name="galeria_descripcion"></textarea>
								    		</div>
								    		<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" ng-class="{visible:galeria.id_galeria!='',invisible:galeria.id_galeria===''}" style="margin-top: 15px;padding:0px;">
									    			<div class="form-group">
									        			<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 col-xs-12" style="padding:0px;">
									        				<label class="form-label">Estatus:</label>
									        			</div>	
									        			<div class="controls col-lg-6 col-md-12 col-xs-12 col-sm-12" style="float:left;">
									        				<div ng-click="activar_check('#check_publicado');"><i id="check_publicado" class="fa fa-square-o cuadrado" style="" aria-hidden="true"></i></div>
									        				<div>  Publicado</div>
									        			</div>
											        </div>
									    	</div>
								    	</div>
								    </div>
									<div style="clear:both"></div>
									<!-- --> 
							    </div>
							</form> 
							<hr>   
							    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="padding:0px;">
									<input type="hidden" size="5" id="id" name="id" ng-model="doctor.id">
									<div class="col-lg-6 col-md-4 col-xs-12 col-sm-12" id="mensaje_galeria" name="mensaje_galeria"></div>
									<div id="botonera-bloque" name="botonera-bloque" style="margin-top:10px;">
										<div class="col-lg-6 col-md-8 col-xs-12 col-sm-12" style="float:right;padding:0px;">
											<div class="col-lg-4 col-md-4 col-xs-12" style="padding-right:0px;">
												<div class="btn btn-aqua" style="float:right;width:100%" class="limpiar" ng-click="limpiar_cajas()"><i class="fa fa-file-o" aria-hidden="true"></i> Limpiar</div>
											</div>
											<div class="col-lg-4 col-md-4 col-xs-12" style="padding-right:0px;" >
												<div class="btn btn-aqua" style="float:right;width:100%" class="consultar" ng-click="consultar_galeria()"><i class="fa fa-search" aria-hidden="true"></i> Consultar</div>
											</div>
											<div class="col-lg-4 col-md-4 col-xs-12" style="padding-right:0px;">
												<div class="btn btn-aqua" style="float:right;width:100%" class="registrar" ng-click="registrar_galeria()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Registrar</div>
											</div>
										</div>
										<div  style="clear:both"></div>
									</div>
								</div>
								<div style="clear:both"></div>
					    </div>
				    </section>
					<!--Bloque modal del sistema -->
					<div class="modal fade" id="modal_mensaje" name="modal_mensaje" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
					    <div class="modal-dialog modal-lg .modal-sm">
					      <div class="modal-content">
					        <div class="modal-header header_conf">
					            <button type="button" id="cerrar_mensaje2" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					            <p id="cabecera_mensaje" name="cabecera_mensaje" style="color:#fff"></p>
					        </div>
					        <div class="modal-body" id="cuerpo_mensaje" name="cuerpo_mensaje">
					        <!--Modal body -->
					        <!-- modal body-->
					        </div>  
					        <div class="modal-footer footer_conf">
					            <!-- Footter del modal -->
					              <button type="button" name="modal_reporte_salir" id="modal_reporte_salir" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
					              <button type="button" name="modal_reporte_aceptar" id="modal_reporte_aceptar" class="btn btn-primary" data-dismiss="modal" ng-click="procesar_operacion()">Aceptar</button>
					            <!-- Fin footter del modal -->
					        </div>
					      </div>
					    </div>
					</div>
				</div>
			<!-- FIN CUERPO PRINCIPAL DR -->	
			</div>
		</section>		
	</section>
	<!-- END CONTENT -->
</div>
<!--Cuerpo del Modal -->
<!--Bloque modal del sistema -->
<div class="modal" id="modal_img1" name="modal_img1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg .modal-sm">
	    <div class="modal-content">
	        <div class="modal-header header_conf">
	            <button type="button" id="cerrar_mensaje2" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	            <p id="cabecera_mensaje" name="cabecera_mensaje"><b>Información:</b> Seleccione una imagen</p>
	        </div>
	        <div class="modal-body" id="cuerpo_mensaje" name="cuerpo_mensaje">
				<!--Modal body -->
				<div class="centrar_galeria" ng-show="galeria_imagen.length ==0">Galería de Imágenes</div>
				<div id="" ng-show="galeria_imagen.length!=0" class="fade-in-out">
					<div>
						<div class="form-group">
							<input type='text' name='filtro_galeria' id='filtro_galerias' placeholder='Ingrese el valor a filtrar' class="form-control" ng-model="searchGalerias">
						</div>
						<div class="col-lg-12" padding="0px;">
							<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 divbiblioteca" ng-repeat="imagen in galeria_imagen|filter:searchGalerias track by $index">
								<img class="imgbiblioteca"  id="img_biblioteca{{$index}}" ng-src="{{imagen.path_imagen}}" height="115" data="{{imagen.id}}|{{imagen.path_imagen}}" data-ng-click="seleccionar_imagen($event)">
							</div>
						</div>
					</div>
				</div>
				<div style="clear:both"></div>
		        <!-- modal body-->
	        </div>  
	        <div class="modal-footer footer_conf">
	            <!-- Footter del modal -->
	              <button type="button" name="modal_reporte_salir" id="modal_reporte_salir" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
	            <!-- Fin footter del modal -->
	        </div>
	        <div style="clear:both"></div>
	    </div>
    </div>
</div>
<!--fin bloque modal -->
