<!--Preloaders -->
<div class="loading-spiner-holder" data-loading >
    <div class="loading-spiner">
        <ng-include src="'./site_media/templates/preloader.html'"></ng-include>
    </div>
</div>  
<!-- -->
<ng-include src="'./site_media/templates/header.html'"></ng-include>
<div class="page-container row-fluid container-fluid">

    <ng-include src="'./site_media/templates/menu_principal.html'"></ng-include>
     <!-- START CONTENT -->
    <section id="main-content" class=" ">
    	<section class="wrapper main-wrapper row" style=''>
            <div id="cuerpo_principal_doctor">
            <!--CUERPO PRINCIPAL DR -->
				<div class='col-xs-12'>
				    <div class="page-title" style="display:none">
				        <div class="pull-left">
				            <!-- PAGE HEADING TAG - START -->
				            <h1 class="title" id="titulo_project">
								{{titulo_pagina}}
							</h1>
				            <!-- PAGE HEADING TAG - END--> 
				        </div>                     
				    </div>
				</div>
				<div class="clearfix"></div>
				<div class="col-xs-12 animated fadeIn">
				    <section class="box ">
				        <header class="panel_header">
				        	<div>
					        	<div class="contenedor_icono">
						        	<div class="circulo_fuente">
						        		<i class="fa fa-youtube-play" aria-hidden="true"></i>
						        	</div>
						        </div>	
					            <h2 class="title pull-left"> Galería de Videos</h2>
					        </div>    
				        </header>
				        <hr>
				        <div class="content-body">
						<!-- Cuerpo del formulario -->
						<form id="form_registro_galeria" name="form_registro_galeria" enctype="multipart/form-data">
						    <div class="row">
						     	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				                 	<div id="campo_mensaje2" name="campo_mensaje2" class="mostrar"></div>
				                </div>	
						    	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					    			<div class="col-lg-3 col-md-3 col-xs-12 col-sm-12 padding0_min " style="padding-top: 5px; padding-left:0px;">
					    				<label class="form-label">Idioma:</label>
						    			<select name="idioma" id="idioma" class="form-control m-bot15 select-picker" data-done-button="true" data-actions-box="true"  data-live-search-placeholder="Seleccione tipo de idioma" placholder="Seleccione tipo de idioma" data-style="btn-fff " data-live-search="true" ng-options="option.descripcion for option in idioma track by option.id" ng-model="video.idioma" data-size="3">
											<option value="">--Seleccione un idioma--</option>
										</select>
						    		</div>
							        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="padding-left:0px;">
							            <div class="form-group">
							            	<label class="form-label">Titulo:</label>
							                <div class="controls">
							                <input type="text" name="titulo_video" id="titulo_video" class="form-control" ng-model="video.titulo" placeholder="Ingrese título del video" onKeyPress="return valida(event,this,18,50)" onBlur="valida2(this,18,50);" >
							                </div>
							            </div>
							        </div>
							        <div class="col-md-4 col-sm-10 col-xs-10" style="padding-left:0px;">
								        <div class="form-group">
							            	<label class="form-label">Link</label>
							            	<div class="controls">
							                	<input id="link_video" name="link_video" class="form-control" ng-model="video.link" placeholder="Ingrese el link del video" onKeyPress="" onBlur="">
							                </div>
								        </div>
							        </div>
							        <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2" style="padding-left:0px;padding-right:0px;">
							       		<div class="form-group">
							            	<label class="form-label"></label>
							            	<div class="controls">
									        	<div class="btn btn-aqua" style="" class="visualizar" ng-click="visualizar_video()" title="Visualizar video">
									        		<i class="fa fa-youtube-play" aria-hidden="true"></i>
												</div>
											</div>
										</div>
									</div>		
							    </div>
							    <div class="col-lg-12 col-sm-12 col-xs-12" ng-class="{visible:video.id!='',invisible:video.id===''}" style="padding:0px;">
					        		<div class="form-group">
					        			<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 col-xs-12">
					        				<label class="form-label">Estatus:</label>
					        			</div>	
					        			<div class="controls col-lg-6 col-md-12 col-xs-12 col-sm-12" style="float:left;">
					        				<div ng-click="activar_check('#check_publicado');"><i id="check_publicado" class="fa fa-square-o cuadrado" style="" aria-hidden="true"></i></div>
					        				<div>  Publicado</div>
					        			</div>
						        	</div>
							    </div>	
							    <!--Preview de video -->
				                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div_player" ng-class="{visible: enlace!='',invisible:enlace===''}">
				                 	<div id="player"></div>
				                </div>
				                 <!-- -->
							    <div style="clear:both"></div>
								<!-- --> 
						    </div>
						</form>
						<hr>    
						    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="padding:0px;">
								<input type="hidden" size="5" id="id" name="id" ng-model="doctor.id">
								<div class="col-lg-4 col-md-4 col-xs-12 col-sm-12" id="campo_mensaje" name="campo_mensaje"></div>
								<div id="botonera-bloque" name="botonera-bloque" style="margin-top:10px;">
									<div class="col-lg-8 col-md-8 col-xs-12 col-sm-12" style="float:right;padding:0px;">
										<div class="col-lg-4 col-md-4 col-xs-12" style="padding-right:0px;">
											<div class="btn btn-aqua" style="float:right;width:100%" class="limpiar" ng-click="limpiar_video()"><i class="fa fa-file-o" aria-hidden="true"></i> Limpiar</div>
										</div>
										<div class="col-lg-4 col-md-4 col-xs-12" style="padding-right:0px;" >
											<div class="btn btn-aqua" style="float:right;width:100%" class="consultar" ng-click="consultar_videos()"><i class="fa fa-search" aria-hidden="true"></i> Consultar</div>
										</div>
										<div class="col-lg-4 col-md-4 col-xs-12" style="padding-right:0px;">
											<div class="btn btn-aqua" style="float:right;width:100%" class="registrar" ng-click="registrar_video()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Registrar</div>
										</div>
									</div>
									<div  style="clear:both"></div>
								</div>
							</div>
							<div style="clear:both"></div>
					    </div>
				    </section>
					<!--Bloque modal del sistema -->
					<div class="modal fade" id="modal_mensaje" name="modal_mensaje" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
					    <div class="modal-dialog modal-lg .modal-sm">
					      <div class="modal-content">
					        <div class="modal-header header_conf">
					            <button type="button" id="cerrar_mensaje2" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					            <p id="cabecera_mensaje" name="cabecera_mensaje"></p>
					        </div>
					        <div class="modal-body" id="cuerpo_mensaje" name="cuerpo_mensaje">
					        <!--Modal body -->
					        <!-- modal body-->
					        </div>  
					        <div class="modal-footer footer_conf">
					            <!-- Footter del modal -->
					              <button type="button" name="modal_reporte_salir" id="modal_reporte_salir" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
					              <button type="button" name="modal_reporte_aceptar" id="modal_reporte_aceptar" class="btn btn-primary" data-dismiss="modal" ng-click="procesar_operacion()">Aceptar</button>
					            <!-- Fin footter del modal -->
					        </div>
					      </div>
					    </div>
					</div>
					<!-- --> 
				</div>
			<!-- FIN CUERPO PRINCIPAL DR -->	
			</div>
		</section>		
	</section>
	<!-- END CONTENT -->
</div>	