<div class='page-topbar ' ng-controller="MainController">
    <div class='logo-area'>
        <div class="contenedor_titulo">    
            <div class="icono_titulo_adm">
                <div class="circulo_fuente2">
                    <i class="fa fa-rocket" aria-hidden="true"></i>
                </div>
            </div>  
            <div class="titulo_adm hidden-xs"><b>Content</b> Manager</div>
            <div style="clear:both"></div>
        </div>
    </div>
    <div class='quick-area'>
        <div class='pull-left'>
            <ul class="info-menu left-links list-inline list-unstyled">
                <li class="sidebar-toggle-wrap">
                    <a data-toggle="sidebar" class="sidebar_toggle">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>		
        <div class='pull-right'>
            <ul class="info-menu right-links list-inline list-unstyled">
                <li class="profile">
                    <a data-toggle="dropdown" class="toggle">
                        <img src="site_media/images/user.png" alt="user-image" class="img-circle img-inline">
                        <span>{{login_usuario}} <i class="fa fa-angle-down"></i></span>
                    </a>
                    <ul class="dropdown-menu profile animated fadeIn">
                        
                        <li class="last">
                            <a id="cerrar_sesion" ng-click="cerrar_sesion()">
                                <i class="fa fa-lock"></i>
                                Cerrar
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>			
        </div>		
    </div>
</div>