<div id="fila_{{numero}}" class="fila_slider col-lg-12 col-md-12 col-s-12 col-md-12 div_slider fila_{{numero}}" style="padding-bottom: 10px;" data="fila_{{numero}}">
	<div class="col-lg-3 col-md-3 col-xs-12 col-sm-12 div_slider" style="height: 200px">
		<div class="form-group">
			<label>Título</label>
			<input type="text" name="titulo_slider" id="titulo_slider_{{numero}}" class="form-control titulo" placeholder="Ingrese el título">
		</div>
	</div>
	<div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 div_slider" style="height: 200px">
		<div class="form-group">
			<label>Descripción</label>
			<!--<textarea name="descripcion_slider" id="descripcion_slider__{{numero}}" class="form-control descripcion" style="resize:none" placeholder="ingrese la descripción" rows="8" ></textarea>-->
			<div name="descripcion_slider" id="descripcion_slider__{{numero}}" class="div_wisig descripcion" ng-click="wisi_modal('','1')" >
				Pulse aquí para ingresar el contenido  cera de quienes somos
			</div>
		</div>
	</div>
	<div class="col-lg-5 col-md-5 col-xs-12 col-sm-12 div_slider" style="height: 200px">
		<div>
			<div class="img_slider" id="contenedor_slider_{{numero}}" ng-click="seleccione_img_slider(0)">
				<div id="div_imagen_{{numero}}" class="imagen">
					<span><i class="fa fa-picture-o" aria-hidden="true"></i> Imagen Slider </span>
				</div>
				<!--<div class="col-lg-12 mensaje_img_principal" ng-class="{'visible':activo_img[0]==='activo','invisible':activo_img[0]!='activo'}">
					<img class="imagen imagen0" id="img_seleccionada0" ng-src="{{slider.imagen}}"  data="">
				</div>-->
				<div style="clear:both"></div>
			</div>
		</div>
	</div>
	<div style="clear:both"></div>
</div>