<div id="img-zone">{{titulo_pagina}} 
	<div class="form-group">
	    <input  id="file" name="file" type="file" style="display:none" data-multiple-caption="{count} archivos seleccionados"  uploader-model="file" ng-model="album.files" uploader-model="file" multiple>
		<label for="file">	
			<div id="subir_imagenes" class="btn btn-primary">Subir imagen</div>
		</label>
		<output class="galeria_img" id="list"></output>
	</div>
</div>