<!-- plugin facebook -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.9";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!--plugin facebook -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
	<div class="top-area" class="hidden-sm hidden-xs">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-6">
				<p class="bold text-left" id="dias_trabajo"></p>
				</div>
				<div class="col-sm-6 col-md-6">
					<div class="redes_sociales" title="Twitter" onclick="subir_a_div('cuerpo_redes_sociales')"><i class="fa fa-twitter-square" aria-hidden="true"></i></div>
					<div class="redes_sociales" title="facebook" onclick="subir_a_div('cuerpo_redes_sociales')"><i class="fa fa-facebook-square" aria-hidden="true"></i></div>
				</div>
			</div>
		</div>
	</div>
    <div class="container navigation barra_principal">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="index.html" style="padding-top: 2px;">
                <img src="site_media/img/logo_prueba.png" alt="" width="140" height="70" class="img_logo" />
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
		  <ul class="nav navbar-nav">
			<li class="active"><a href="#intro">Inicio</a></li>
			<li><a href="#esp">Especialidades</a></li>
			<li><a href="#doctor">Doctores</a></li>
			<li><a href="#facilities">Galería</a></li>
			<li><a href="#noticias">Noticias</a></li>
			<li><a href="#foro">Foro</a></li>
			<li><a href="#videos">Videos</a></li>
		  </ul>
        </div>
        <div style="clear:both"></div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!-- Section: intro -->
<section id="intro" class="intro">
	<div class="intro-content">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
				<div class="wow fadeInDown" data-wow-offset="0" data-wow-delay="0.1s">
					<h2 class="h-ultra"> Grupo Medico MV</h2>
				</div>
				<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.1s">
				<h4 class="h-light">Gestionamos tu Solicitud <span class="color"> </span> </h4>
				</div>
					<div class="well well-trans">
					<div class="wow fadeInRight" data-wow-delay="0.1s">

					<ul class="lead-list" ng-repeat="mensajes in mensajesIniciales">
						<li>
							<span class="fa fa-check fa-2x icon-success"></span>
							<span class="list" style="width:80%"><strong>{{mensajes.titulo}}</strong>
								<br />{{mensajes.descripcion}}
							</span>
						</li>
					</ul>
					</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="form-wrapper">
					<div class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.2s">
						<div class="panel panel-skin">
						<div class="panel-heading">
								<h3 class="panel-title"><span class="fa fa-pencil-square-o"></span> Solicitud Cita Previa <small></small></h3>
								</div>
								<div class="panel-body">
								<form role="form" class="lead">
									<div class="row">
										<div class="col-xs-12 col-sm-12 col-md-6">
											<div class="form-group">
												<label>Email</label>
												<input type="email" name="email" id="email" class="form-control input-md" ng-model="citas.email" placeholder="Ingrese su email" onKeyPress="return valida(event,this,5,50)" onBlur="valida2(this,5,50);" maxlength="50" ng-blur="consultar_existe_telefono_email()">
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-6">
											<div class="form-group">
												<label>Telefono</label>
												<input type="text" name="phone" id="phone" class="form-control input-md" ng-model="citas.telefono" placeholder="Ingrese el número de teléfono" onKeyPress="return valida(event,this,13,50)" onBlur="valida2(this,13,50);formato_tlf(this);" maxlength="12" ng-blur="consultar_existe_telefono_email()" >
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-sm-12 col-md-12">
											<div class="form-group">
												<label>Nombres y Apellidos</label>
												<input type="text" name="first_name" id="first_name" class="form-control input-md" ng-model="citas.nombres" placeholder="Ingrese nombres y apellidos" onKeyPress="return valida(event,this,19,50)" onBlur="valida2(this,19,50);" maxlength="50" >
											</div>
										</div>
									</div>
                                    <div class="row">
										<div class="col-xs-12 col-sm-12 col-md-12">
											<div class="form-group">
												<label>Especialidad</label>
												<select name="especialidad" id="especialidad" class="form-control"  ng-options="option.titulo for option in especialidad track by option.id" ng-model="citas.especialidad">
													<option value="">--Seleccione Especialidad--</option>
												</select>
											</div>
										</div>
									</div>
									<div class="row">	
										<div class="col-xs-12 col-sm-12 col-md-12">
											<div class="form-group">
												<label>Observación</label>
												<textarea class="form-control" placeholder="Ingrese la observación" ng-model="citas.observacion" onKeyPress="return valida(event,this,17,50)" onBlur="valida2(this,17,50);" maxlength="50" id="observaciones" name="observaciones"></textarea>
											</div>
										</div>
									</div>
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px;">
										<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-top: 5px;">
											<input type="submit" value="Enviar" class="btn btn-aqua btn-block btn-lg" ng-click="registrar_cliente();">
										</div>
										<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-top: 5px;">
											<input type="submit" value="Limpiar" class="btn btn-aqua btn-block btn-lg" ng-click="limpiar_cliente();">
										</div>
									</div>	
									<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 alerta_guardar" id="bloque_mensaje" name="bloque_mensaje" ></div>
									<p class="lead-footer">* Nosotros te Contactamos por vía Correo o Celular </p>
								
								</form>
							</div>
						</div>				
					
					</div>
					</div>
				</div>					
			</div>		
		</div>
	</div>		
</section>
	
<section id="esp" class="home-section paddingtop-80">	
       <div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="callaction bg-gray">
						<div class="row">
							<div class="col-md-8">
								<div class="wow fadeInUp" data-wow-delay="0.1s">
								<div class="cta-text">
								<h3>Especialidades</h3>
								<p>Aqui podrá encontrar el conjunto de especialidades médicas ofrecidas en nuestros servicios</p>
								</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="wow lightSpeedIn" data-wow-delay="0.1s">
									<div class="cta-btn">
									<div ng-click="solicitud_citas_paciente()" class="btn btn-aqua btn-lg">Consultar Citas</div>	
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
</section>	
<!-- Section: Especialidades -->
<section id="service" class="home-section nopadding paddingtop-60" >
	<div class="container" id="contenedor_especialidades">
		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 cuadro_esp" ng-repeat="espe in especialidadDetalle" >
		        <div class="wow fadeInRight" data-wow-delay="0.1s">
		          <div class="panel panel-default panel_especialidades">
		          	<div class="panel-body">
				        <div class="">
							<div class="service-icon">
								<img ng-src="{{espe.imagen}}" alt=""  width="100%" class="img_especialidades" style="height:100px;"> 
				            </div> 
				            <div class="service-desc">             
								<h5 class="h-light">{{espe.titulo}}</h5>
								<div class="div_especialidad" ng-bind-html="espe.descripcion_corta">
								</div>
								<div class="col-lg-12">
									<span class="btn btn-aqua leer_mas" style="" ng-click="ver_detalles_especialidades(espe)">Leer Más</span>
								</div>
							</div>
				        </div>
				    </div>    
				  </div>     
			    </div>
		     </div>  
		</div>
	</div>
	<!--Detalle de Especialidades -->
	<div id="contenedor_detalles_especialidades" style="display:none">
		<!--<noticia-detalle></noticia-detalle>-->
		<div id="especialidades-detalle">
			<div>
				<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="padding: 0px;">
					<div class="cerrar_especialidades" ng-click="cerrar_especialidades();" title="Cerrar especialidades">
						<div class="cuadrado_fuente">
							<i class="fa fa-times" aria-hidden="true" style="margin-top: 1px;"></i>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
					<div id="especialidad_imagen" name="especialidad_imagen">
						<img alt="" title="" ng-src="{{objeto_especialidades.imagen}}" class="imagen_detalles">
					</div>
				</div>	
				<div id="">
					<h2 class="h-bold">
						<div class="titulo_especialidades">
							{{objeto_especialidades.titulo}}
						</div>
					</h2>
				</div>
				<div ng-bind-html="objeto_especialidades.descripcion" class="descripcion_especialidades">
				</div>
			</div>
		</div>
		<!-- -->
	</div>
	<!--Detalle de Especialidades -->

</section>
<!-- /Section: Especialidades -->
	

<!-- Section: Doctores -->
<section id="doctor" class="home-section bg-gray paddingbot-60">
	<div class="container marginbot-50">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<div class="wow fadeInDown" data-wow-delay="0.1s">
				<div class="section-heading text-center">
				<h2 class="h-bold">Médicos/Doctores</h2>
				
				<p>Se cuenta con un grupo de Doctores totalmente Profesionales y Especializados en su &aacute;rea</p>
				</div>
				</div>
				<div class="divider-short"></div>
			</div>
		</div>
	</div>
	<cajas-doctores></cajas-doctores>
</section>
<!-- /Section: Doctores -->
<!-- Section: Galeria -->
<section id="facilities" class="home-section paddingbot-60">
	<div class="container marginbot-50">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<div class="wow fadeInDown" data-wow-delay="0.1s">
				<div class="section-heading text-center">
				<h2 class="h-bold">Galería de imagenes</h2>
				<p>Púede observar algunas imagenes de nuestros espacios y trabajos en general</p>
				</div>
				</div>
				<div class="divider-short"></div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12" >
				<div class="wow bounceInUp" data-wow-delay="0.2s">
	                <div id="owl-works" class="owl-carousel " >
	                    <div ng-repeat="imagen in imagenes_galeria track by $index">
	                    	<!-- -->
   		                    <div class="item" >
		                    	<a href="{{imagen.ruta}}" title="{{imagen.descripcion}}" data-lightbox-gallery="gallery-1">
		                    		<img ng-src="{{imagen.ruta}}" class="img-responsive" alt="{{imagen.descripcion}}">
		                    	</a>
		                    </div>
		                   	<!-- -->
	                    </div>
	                </div>
				</div>
            </div>
        </div>
	</div>
</section>
<!-- /Section: Galeria -->
<!-- Section: Noticias -->	
<section id="noticias" class="home-section bg-gray paddingbot-60">	
	<div class="container marginbot-50">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2" id="cuerpo_noticias">
				<div class="wow lightSpeedIn" data-wow-delay="0.1s">
				<div class="section-heading text-center">
				<h2 class="h-bold">Noticias</h2>
				<p>Hechos relevantes, sobre el día a día de nuestra organización</p>
				</div>
				</div>
				<div class="divider-short"></div>
			</div>
		</div>
	</div>
       
	<div class="container">
		<div class="row noticia_individual" id="contenedor_noticia" name="contenedor_noticia" >
			<div id="masonrry" padding="0px;">
				<div ng-repeat="news in filteredTodos" id="cuadro_noticia" name="cuadro_noticia">
					<div class=" col-lg-4 col-md-4 col-sm-6 col-xs-12 grid-item2">
						<div class="thumbnail">
						  <img ng-src="{{news.ruta_imagen}}" alt="..." class="img_noticias" style="width:200px;height:150px;margin-top: 10px;">
						  <div class="caption">
						    <div style="height: 60px;margin-top: 20px;"><h5 class="">{{news.titulo}}</h5></div>
						    <p class="" ng-bind-html="news.descripcion_corta" style="text-align: justify;"></p>
						    <p class="fecha_noticia"><i class="fa fa-calendar" aria-hidden="true"></i> {{news.fecha}}</p>
						    <div><a class="btn btn-aqua" role="button" id="leer_mas" ng-click="ver_detalle(news)" style="float:right">Leer Mas</a></div>
						    <div style="clear:both"></div>
						  </div>
						</div>
					</div>
				</div>
			</div>	
			<!-- Paginacion -->
			<div class="col-lg-12 paginador_noticias" style="width:100%">
		        <div class="pull-left " style="margin-top:15px;padding-right: 40px;" data-pagination="" data-num-pages="numPages()" data-current-page="currentPage" data-max-size="maxSize"  data-boundary-links="true"></div>
		    </div>
		    <!-- -->
		</div>				
	</div>
	<!--Detalle de Noticias -->
	<div id="contenedor_detalle_noticia" style="display:none">
		<!--<noticia-detalle></noticia-detalle>-->
		<div id="noticia-detalle">
			<div>
				<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="padding:0px;">
					<div class="cerrar_noticias" ng-click="cerrar_noticias();" title="Cerrar noticias">
						<div class="cuadrado_fuente">
							<i class="fa fa-times" aria-hidden="true" style="margin-top: 1px;"></i>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
					<div id="noticia_imagen" name="noticia_imagen">
						<img alt="" title="" ng-src="{{objeto_noticias.ruta_imagen}}" class="imagen_noticias">
					</div>
				</div>	
				<div id="">
					<h2 class="h-bold">
						<div class="titulo_noticias">
							{{objeto_noticias.titulo}}
						</div>
					</h2>
				</div>
				<div class="fecha_noticias">
					<p><i class="fa fa-calendar" aria-hidden="true"></i> {{objeto_noticias.fecha}}</p>
				</div>
				<div ng-bind-html="objeto_noticias.descripcion" class="descripcion_noticias"  class="fadeInDown wow animated animated animated">
				</div>
			</div>
		</div>
		<!-- -->
	</div>
	<!--Detalle de Noticias -->
	
</section>	 
<!-- /Section: pricing -->	

<!-- Section: Foro -->	
<section id="foro" name="foro" class="home-section paddingbot-60">	
	<div class="container marginbot-50">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<div class="wow lightSpeedIn" data-wow-delay="0.1s">
				<div class="section-heading text-center">
				<h2 class="h-bold">Foro</h2>
				<p>Realiza tus preguntas a nuestros expertos y aclararan tus dudas</p>
				</div>
				</div>
				<div class="divider-short"></div>
			</div>
		</div>
	</div>
	<div class="container">
	<!-- -->
		<div id="disqus_thread"></div>
		<script>
			/**
			*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
			*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
			/*
			var disqus_config = function () {
			this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
			this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
			};
			*/
			(function() { // DON'T EDIT BELOW THIS LINE
			var d = document, s = d.createElement('script');
			s.src = 'https://tumedico-online-com-1.disqus.com/embed.js';
			s.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(s);
			})();
		</script>
		<noscript>
			Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
		</noscript>
	<!-- -->		
	</div>
	<script id="dsq-count-scr" src="//tumedico-online-com-1.disqus.com/count.js" async></script>
</section>
<!--Seccion de videos youtube -->
<section id="videos" class="home-section bg-gray paddingbot-60">	
	<div class="container marginbot-50" id="contenedor_videos" name="contenedor_videos">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2" id="cuerpo_videos">
				<div class="wow lightSpeedIn" data-wow-delay="0.1s">
				<div class="section-heading text-center">
				<h2 class="h-bold">Videos</h2>
				<p>Algunos videos de nuestra labor</p>
				</div>
				</div>
				<div class="divider-short"></div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div id="contenedor_vi" name="contenedor_vi">
				<div class="content_video">
					<div class="content_iframe_video">
						<iframe id="reproductor" width="100%" height="100%" src="" frameborder="0" allowfullscreen></iframe>
							<h3 class="tituloVideo">{{video.titulo}}</h3>
					</div>
				</div>
			</div>
			<div class="contenedor_lista_videos col-lg-12 col-md-12 col-xs-12 col-sm-12">
				<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
					<div id="subtitulos_videos">
						<i class="fa fa-youtube-play" aria-hidden="true"></i>
						Más videos					
					</div>
				</div>
				<!-- -->
				<div class="col-sm-12 col-md-12 col-lg-12" >
					<div class="wow bounceInUp" data-wow-delay="0.2s">
	                	<div id="owl-videos" class="owl-carousel " > 
							<!-- -->
							<div ng-repeat="vid in videos track by $index">
								<div class="item" >
									<!--Bloque de videos individuales -->
									<div class="col-xs-12 item-video" id="caja_video{{vid.number}}">
										<div class="row" style="padding:5px;">
											<a>
												<span class="overlay-link"></span>					
												<div style="cursor:pointer">
													<div class="row">
														<img id="imagen_previa_{{vid.number}}" data="{{vid.link}}*%{{vid.titulo}}" ng-click="seleccionar_video($event)">
													</div>
													<div>{{vid.titulo}}</div>
												</div>
											</a>
										</div>
									</div>
									<!-- -->
								</div>
							</div>
							<!-- -->
						</div>
					</div>
				</div>			
				<!-- -->
			</div>
		</div>				
	</div>
</section>	
<!-- -->
<!--Redes sociales -->
<section id="redes" name="redes" class="home-section paddingbot-60">	
	<div class="container marginbot-50" id="cuerpo_redes_sociales">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<div class="wow lightSpeedIn" data-wow-delay="0.1s">
				<div class="section-heading text-center">
				<h2 class="h-bold">Redes sociales</h2>
				<p>Siguénos en nuestras redes sociales</p>
				</div>
				</div>
				<div class="divider-short"></div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="padding: 0px;">
		<div class="form-group">	
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12  facebook wow fadeInLeft" data-wow-delay="0.1s" style="">
				<!--Facebook -->
				<div class="div_facebook">
					<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FGrupo-M%25C3%25A9dico-MV-111912029395471%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
				</div>
				<!-- -->
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeInLeft" data-wow-delay="0.1s">
				<div class="centrado_pag2">
					<a href="" target="_blank">
						<div class="circulo_fuente">
							<i class="fa fa-envelope mensaje_icono" aria-hidden="true"></i>
						</div>
					</a>	
					<h4 style="" class="texto_redes">info@tumedico-online.com </h4>
				</div>
				<div class="centrado_pag2">
					<a href="https://www.facebook.com/Grupo-Médico-MV-111912029395471/" target="_blank">
						<div class="circulo_fuente">
							<i class="fa fa-facebook" aria-hidden="true"></i>
						</div>
					</a>
					<h4 style="" class="texto_redes">Grupo Médico MV</h4>
				</div>
				<div class="centrado_pag2">
					<a href="https://twitter.com/grupoMedicoMV" target="_blank">
						<div class="circulo_fuente">
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</div>
					</a>	
					<h4 style="" class="texto_redes">@grupoMedicoMV </h4>
				</div>

			</div>
			<div class="col-lg-4 col-md-4  col-sm-12 col-xs-12 twitter wow fadeInLeft" data-wow-delay="0.1s" style="">
				<!--Twitter -->
				<div class="div_twitter" >
					<a class="twitter-timeline" href="https://twitter.com/grupoMedicoMV">Tweets by grupoMedicoMV</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
				</div>
				<!-- -->
			</div>	
		</div>
		</div>
	</div>
</section>		

<footer>
	<div class="sub-footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-6 col-lg-6">
				<div class="wow fadeInLeft" data-wow-delay="0.1s">
				<div class="text-left">
				<p>&copy;Copyright 2017 - tumedico-online. Todos los derechos reservados.</p>
				</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-6 col-lg-6">
				<div class="wow fadeInRight" data-wow-delay="0.1s">
				<div class="text-right">
					<p>Development By Santu1987</p>
				</div>
                <!-- 
                    All links in the footer should remain intact. 
                    Licenseing information is available at: http://bootstraptaste.com/license/
                    You can buy this theme without footer links online at: http://bootstraptaste.com/buy/?theme=Medicio
                -->
				</div>
			</div>
		</div>	
	</div>
	</div>
</footer>
<!--Bloque modal del sistema -->
<div class="modal fade" id="modal_principal" name="modal_principal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg .modal-sm">
      <div class="modal-content">
        <div class="modal-header header_conf configuracion_web">
            <button type="button" id="cerrar_mensaje2" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <p id="cabecera_mensaje" name="cabecera_mensaje">Consulte su cita </p>
        </div>
        <div class="modal-body scrollBarGM cuerpo_mensaje" id="cuerpo_mensaje" name="cuerpo_mensaje">
        <!--Modal body -->
        	<!-- Cuerpo para realizar consulta -->
        	<div id="" class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="float:left">
				<div class="form-group">
					<div class="col-lg-4 col-md-4 col-xs-12 col-sm-12"  style="padding-left: 0px;">
						<label>Seleccione un tipo de dato para consultar su cita:</label>
					</div>
					<div class="col-lg-8 col-md-8 col-xs-12 col-sm-12">
						<select id="select_inicio_sesion" name="select_inicio_sesion" class="form-control" ng-options="option.descripcion for option in datos_paciente track by option.id"  ng-model="datos_consulta_cita">
							 <option value="">-- Seleccione--</option>
						</select>
					</div>		
				</div>
			</div>	
			<div class="col-lg-12 col-md-12 col-xs-12 col-md-12" ng-class="{visible:datos_consulta_cita.id=='1',invisible:datos_consulta_cita.id!='1'}" style="padding-top:10px;">
				<div class="form-group">
					<div class="col-lg-4 col-md-4 col-xs-12 col-sm-4" style="padding-left: 0px;padding-right:0px">
						<div>
							<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="padding:0px;">
								<i class="fa fa-phone-square" style="margin-top:5px;float:left;" aria-hidden="true"></i>
								<label style="float: left;">Número de Teléfono:</label>
							</div>	
						</div>	
					</div>
					<div class="col-lg-8 col-md-8 col-xs-12 col-sm-8">
						<input type="text" id="cita_telefono" name="cita_telefono" onKeyPress="return valida(event,this,13,12)" onBlur="valida2(this,13,12);formato_tlf(this);" maxlength="50" class="form-control" ng-model="telefono_consulta" placeholder="Ingrese su número de teléfono">
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="padding:15px;">
					<div class="col-lg-8 col-md-8 col-xs-12 col-sm-12" id="mensaje_consulta" name="mensaje_consulta">   
					</div>
					<div class="col-lg-4 col-md-4 col-xs-4 col-sm-4" style="float:right;padding-right:0px;">
						<div class="btn btn-aqua" id="consultar_citas" name="consultar_citas" ng-click="consultar_citas()" style="float:right;">Consultar</div>
					</div>
				</div>	
			</div>
			<div class="col-lg-12 col-md-12 col-xs-12 col-md-12" ng-class="{visible:datos_consulta_cita.id=='2',invisible:datos_consulta_cita.id!='2'}" style="padding-top:10px;">
				<div class="form-group">
					<div class="col-lg-4 col-md-4 col-xs-12 col-sm-4" style="padding-left: 0px;">
						<div class="col-lg-10 col-md-10 col-xs-10 col-sm-10" style="padding:0px;">
							<i class="fa fa-envelope-square" style="margin-top: 5px;" aria-hidden="true"></i><label style="margin-left:5px;">Email:</label>
						</div>	
					</div>
					<div class="col-lg-8 col-md-8 col-xs-12 col-sm-8">
						<input type="text" id="cita_correo" name="cita_correo" class="form-control" ng-model="correo_consulta" placeholder="Ingrese su email" onKeyPress="return valida(event,this,5,50)" onBlur="valida2(this,5,50);">
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="padding:15px;">
					<div class="col-lg-8 col-md-8 col-xs-8 col-sm-8" id="mensaje_consulta" name="mensaje_consulta" style="padding: 5px;"></div>
					<div class="col-lg-4 col-md-4 col-xs-4 col-sm-4" style="float:right;padding-right:0px;">
						<div class="btn btn-aqua" id="consultar_citas" name="consultar_citas" ng-click="consultar_citas()" >Consultar</div>
					</div>
				</div>	
			</div>

        	<!-- -->
        	<!-- Cuerpo Tabla consulta -->
	        <div id="tabla_consulta_paciente" class="col-lg-12 col-md-12 col-xs-12 col-sm-12" data-wow-delay="0.1s" style="float:left;padding-top:5px;"" ng-class="{visible:id_paciente!='',invisible:id_paciente==''}">
				<div id="container">
					<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="padding:0px;font-weight:bold">Paciente : {{nombre_paciente}}</div>
					<table id="tabla_citas" class="table">
						<thead>
							<td>#</td>
							<td>Especialidad</td>
							<td class="campo_fecha">Fecha</td>
							<td>Estatus</td>
						</thead>
						<tbody>
							<tr ng-repeat="citas in citas_paciente track by $index">
								<th>{{citas.number}}</th>
								<th>{{citas.especialidad}}</th>
								<th class="campo_fecha">
									<div ng-if="citas.estatus!='1'">
										{{citas.fecha}}
									</div>
									<div ng-if="citas.estatus=='1'">
										<i class="fa fa-times" aria-hidden="true" style="color:#3fbbc0"></i> No cuenta con fecha asignada
									</div>
								</th>
								<th>
									<div ng-if="citas.estatus=='1'">
										<i class="fa fa-calendar" aria-hidden="true" style="color:#3fbbc0"></i> Sin asignar cita
									</div>
									<div ng-if="citas.estatus=='2'">
										<i class="fa fa-check-circle"  aria-hidden="true" style="color:#32969a"></i> Cita Asignada
									</div>
									<div ng-if="citas.estatus=='3'">
										<i class="fa fa-times-circle" aria-hidden="true" style="color:#b0223c"></i>Cita anulada
									</div>
								</th>
							</tr>		
						</tbody>
					</table>
				</div>				
			</div>
			<!-- -->
			<div style="clear:both"></div>
        <!-- modal body-->
        </div>  
        <div class="modal-footer footer_conf">
            <!-- Footter del modal -->
              <!--<button type="button" name="modal_reporte_salir" id="modal_reporte_salir" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
              <button type="button" name="modal_reporte_aceptar" id="modal_reporte_aceptar" class="btn btn-primary" data-dismiss="modal" ng-click="procesar_operacion()">Aceptar</button>-->
            <div>
              <button type="button" name="modal_aceptar" id="modal_aceptar" class="btn btn-aqua" data-dismiss="modal" ng-click="">Salir</button>
            </div>  
            <!-- Fin footter del modal -->
        </div>
      </div>
    </div>
</div>
<!-- -->
<script src="site_media/plugins/cubeportfolio/js/jquery.cubeportfolio.js"></script>
<!-- Messagges-->
<script src="site_media/plugins/messenger/js/messenger.min.js" type="text/javascript"></script>
<script src="site_media/plugins/messenger/js/messenger-theme-future.js" type="text/javascript"></script>
<script src="site_media/plugins/messenger/js/messenger-theme-flat.js" type="text/javascript"></script>
<script src="site_media/plugins/messenger/js/messenger.js" type="text/javascript"></script>
<!-- -->
<script src="site_media/js/jquery.easing.min.js"></script>
<script src="site_media/js/wow.min.js"></script>
<script src="site_media/js/jquery.scrollTo.js"></script>
<script src="site_media/js/jquery.appear.js"></script>
<script src="site_media/js/stellar.js"></script>
<script src="site_media/js/owl.carousel.min.js"></script>
<script src="site_media/js/nivo-lightbox.min.js"></script>
<script src="site_media/js/custom.js"></script>

<script type="text/javascript">
// Load the IFrame Player API code asynchronously.
  var tag = document.createElement('script');
  tag.src = "";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // Replace the 'ytplayer' element with an <iframe> and
  // YouTube player after the API code downloads.
  var player;
  function onYouTubePlayerAPIReady() {
    player = new YT.Player('ytplayer', {
      height: '390',
      width: '640',
      videoId: 'M7lc1UVf-VE'
    });
  }
//owl carousel
/*setTimeout(function(){
//----------------------------------------------
$('#owl-works').owlCarousel({
        items : 4,
        itemsDesktop : [1199,5],
        itemsDesktopSmall : [980,5],
        itemsTablet: [768,5],
        itemsTabletSmall: [550,2],
        itemsMobile : [480,2],
});

//nivo lightbox
$('.owl-carousel .item a').nivoLightbox({
	effect: 'fadeScale',                             // The effect to use when showing the lightbox
	theme: 'default',                           // The lightbox theme to use
	keyboardNav: true,                          // Enable/Disable keyboard navigation (left/right/escape)
	clickOverlayToClose: true,                  // If false clicking the "close" button will be the only way to close the lightbox
	onInit: function(){},                       // Callback when lightbox has loaded
	beforeShowLightbox: function(){},           // Callback before the lightbox is shown
	afterShowLightbox: function(lightbox){},    // Callback after the lightbox is shown
	beforeHideLightbox: function(){},           // Callback before the lightbox is hidden
	afterHideLightbox: function(){},            // Callback after the lightbox is hidden
	onPrev: function(element){},                // Callback when the lightbox gallery goes to previous item
	onNext: function(element){},                // Callback when the lightbox gallery goes to next item
	errorMessage: 'The requested content cannot be loaded. Please try again later.' // Error message when content can't be loaded
});
//----------------------------------------------	
},4000);*/
</script>
