<div class="row" id="super_contenedor">				    		
	<!--row_slider-->
	<div id ="fila_{numero}" class="fila_slider col-lg-12 col-md-12 col-s-12 col-md-12 div_slider fila_{numero}" style="padding-bottom: 10px;">
		<div class="btn_order">
			<div id="btn_up_{numero}" class="btn_up" data="fila_{numero}" ng-click="fila_up_down('{numero}','1')"><i class="fa fa-sort-asc" style="font-size: 24pt;" aria-hidden="true"></i></div>
			<div id="btn_down_{numero}" class="btn_down" data="fila_{numero}" ng-click="fila_up_down('{numero}','2')"><i class="fa fa-sort-desc" style="font-size: 24pt;" aria-hidden="true"></i></div>
		</div>
		<div class="col-lg-3 col-md-3 col-xs-12 col-sm-12 ">
			<div class="form-group">
				<label>Títulos</label>
				<input type="text" name="titulo_slider" id="titulo_slider_{numero}" class="form-control titulo" placeholder="Ingrese el título" value="{titulo}">
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-xs-12 col-sm-12 ">
			<div class="form-group">
				<label>Descripción</label>
				<!--<textarea name="descripcion_slider" id="descripcion_slider__{numero}" class="form-control descripcion" style="resize:none" placeholder="ingrese la descripción" rows="8" >{descripcion}</textarea>-->
				<div name="descripcion_slider" id="descripcion_slider_{numero}" class="div_wisig descripcion" ng-click="wisi_modal_auto('{descripcion}','{numero}')" style="background-color: #fff">
				{descripcion}
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 " style="height: 200px">
			<div>
				<div class="img_slider" id="contenedor_slider_{numero}" ng-click="seleccione_img_slider({numero})">
					<div id="div_imagen_{numero}" class="imagen">	
						<img ng-src='{imagen}' class='img_view' dat='{imagen}'>
					</div>
					<div style="clear:both"></div>
				</div>
			</div>
		</div>
		<div style="clear:both"></div>
	</div>
	<!--row_slider-->
	<div style="clear:both"></div>
	<!-- --> 
</div>