<!--Preloaders -->
<div class="loading-spiner-holder" data-loading >
    <div class="loading-spiner">
        <ng-include src="'./site_media/templates/preloader.html'"></ng-include>
    </div>
</div>  
<!-- -->
<ng-include src="'./site_media/templates/header.html'"></ng-include>
<div class="page-container row-fluid container-fluid">

    <ng-include src="'./site_media/templates/menu_principal.html'"></ng-include>
     <!-- START CONTENT -->
    <section id="main-content" class=" ">
    	<section class="wrapper main-wrapper row" style=''>
            <div id="cuerpo_principal_doctor">
            <!--CUERPO PRINCIPAL DR -->
				<div class='col-xs-12'>
				    <div class="page-title" style="display:none">
				        <div class="pull-left">
				            <!-- PAGE HEADING TAG - START -->
				            <h1 class="title" id="titulo_project">
								{{titulo_pagina}}
							</h1>
				            <!-- PAGE HEADING TAG - END--> 
				        </div>                     
				    </div>
				</div>
				<div class="clearfix"></div>
				<div class="col-xs-12 animated fadeIn">
				    <section class="box ">
				        <header class="panel_header">
				        	<div>
					        	<div class="contenedor_icono">
						        	<div class="circulo_fuente">
						        		<i class="fa fa-shield" aria-hidden="true"></i>
						        	</div>
						        </div>	
					            <h2 class="title pull-left"> Marcas</h2>
					        </div>    
				        </header>
				        <hr>
				        <div class="content-body">
							<!-- Cuerpo del formulario -->
							<form id="form_registro_galeria" name="form_registro_galeria" enctype="multipart/form-data">
							    <div class="row">
							    	<div  class="col-lg-12 col-md-12 col-xs-12 col-sm-12 padding0_min " style="margin-bottom: 5px;">
						    			<div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 padding0_min " style="padding-top: 5px; padding-left:0px;">
						    				<label class="form-label">Idioma:</label>
							    			<select name="idioma" id="idioma" class="form-control m-bot15 select-picker" data-done-button="true" data-actions-box="true"  data-live-search-placeholder="Seleccione tipo de idioma" placholder="Seleccione tipo de idioma" data-style="btn-fff " data-live-search="true" ng-options="option.descripcion for option in idioma track by option.id" ng-model="marcas.idioma" data-size="3">
												<option value="">--Seleccione un idioma--</option>
											</select>
							    		</div>
							    		<div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 padding0_min" style="padding-top: 5px;padding-left:0px;">
							    			<div class="form-group" ng-class="{visible:marcas.id!='',invisible:marcas.id===''}">
							        			<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 col-xs-12" style="padding:0px;">
							        				<label class="form-label">Estatus:</label>
							        			</div>	
							        			<div class="controls col-lg-6 col-md-12 col-xs-12 col-sm-12" style="float:left;">
							        				<div ng-click="activar_check('#check_publicado');"><i id="check_publicado" class="fa fa-square-o cuadrado" style="" aria-hidden="true"></i></div>
							        				<div>  Publicado</div>
							        			</div>
									        </div>
									        <div style="clear:both"></div>
							    		</div>
							    	</div>
								    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 padding0_min padding0">
								    	<div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 padding0_min">
								    		<div class="form-group">
								    			<label>Texto Marca</label>
								    			<div class="div_wisig" id="div_descripcion_marcas" ng-click="wisi_modal()">
								    				Pulse aquí para ingresar el contenido 
								    			</div>
						    				</div>
								    	</div>
								    	<div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 padding0_min">
											<div class="img_galeria" ng-click="seleccione_img_marcas()">
														<div ng-class="{'invisible':activo_img_soportes==='activo','visible':activo_img_soportes==='inactivo'}" style="line-height:250px;">
															<span><i class="fa fa-picture-o" aria-hidden="true"></i> Imagenes Marcas </span>
														</div>
														<div id="masonrry" padding="0px;" class="">
															<div class="mensaje_img_principal grid" ng-class="{'visible':activo_img_soportes==='activo','invisible':activo_img_soportes==='inactivo'}" ng-repeat="imag in galeria_marca track by $index" id="cuerpo_img_soportes">
																<div class="grid-item col-lg-4">
																	<img class="img_soportes" id="img_seleccionada" ng-src="{{imag}}" data="">
																</div>
															</div>
														</div>	
													</div>
								    	</div>
								    	
								    </div>
									<div style="clear:both"></div>
									<!-- --> 
							    </div>
							</form> 
							<hr>   
							    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="padding:0px;">
									<input type="hidden" size="5" id="id" name="id" ng-model="doctor.id">
									<div class="col-lg-6 col-md-4 col-xs-12 col-sm-12" id="mensaje_galeria" name="mensaje_galeria"></div>
									<div id="botonera-bloque" name="botonera-bloque" style="margin-top:10px;" class="col-lg-6 col-md-10 col-xs-12 col-sm-12"">
										<div class="col-lg-4 col-md-4 col-xs-12" style="padding-right:0px;">
											<div class="btn btn-aqua" style="float:right;width:100%" class="limpiar" ng-click="limpiar_cajas_marcas()"><i class="fa fa-file-o" aria-hidden="true"></i> Limpiar</div>
										</div>
										<div class="col-lg-4 col-md-4 col-xs-12" style="padding-right:0px;" >
											<div class="btn btn-aqua" style="float:right;width:100%" class="consultar" ng-click="consultar_marcas()"><i class="fa fa-search" aria-hidden="true"></i> Consultar</div>
										</div>
										<div style="padding:0px;">
											<div class="col-lg-4 col-md-4 col-xs-12 padding0_min" style="padding-right:0px;float:right">
												<div class="btn btn-aqua" style="float:right;width:100%" class="registrar" ng-click="registrar_marca()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Registrar</div>
											</div>
										</div>
										<div  style="clear:both"></div>
									</div>
								</div>
								<div style="clear:both"></div>
					    </div>
				    </section>
					<!--Bloque modal del sistema -->
					<div class="modal fade" id="modal_mensaje" name="modal_mensaje" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
					    <div class="modal-dialog modal-lg .modal-sm">
					      <div class="modal-content">
					        <div class="modal-header header_conf">
					            <button type="button" id="cerrar_mensaje2" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					            <p id="cabecera_mensaje" name="cabecera_mensaje"></p>
					        </div>
					        <div class="modal-body" id="cuerpo_mensaje" name="cuerpo_mensaje">
					        <!--Modal body -->
					        <!-- modal body-->
					        </div>  
					        <div class="modal-footer footer_conf">
					            <!-- Footter del modal -->
					              <button type="button" name="modal_reporte_salir" id="modal_reporte_salir" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
					              <button type="button" name="modal_reporte_aceptar" id="modal_reporte_aceptar" class="btn btn-primary" data-dismiss="modal" ng-click="procesar_operacion()">Aceptar</button>
					            <!-- Fin footter del modal -->
					        </div>
					      </div>
					    </div>
					</div>
				</div>
			<!-- FIN CUERPO PRINCIPAL DR -->	
			</div>
		</section>		
	</section>
	<!-- END CONTENT -->
</div>
<!--Cuerpo del Modal -->
<!--Bloque modal del sistema -->
<!--Bloque modal del sistema -->
<div class="modal fade" id="modal_contenido" name="modal_contenido" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg .modal-sm">
      <div class="modal-content">
        <div class="modal-header header_conf">
            <button type="button" id="cerrar_mensaje2" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <p id="cabecera_mensaje" name="cabecera_mensaje">
            	Ingrese el contenido de {{seccion}}
            </p>
        </div>
        <div class="modal-body" id="cuerpo_mensaje" name="cuerpo_mensaje">
        <!--Modal body -->
        	<div class="row">
        		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        			<textarea class="form-control" id="contenido_descripcion" name="contenido_descripcion"></textarea>
        		</div>
        	</div>
        <!-- modal body-->
        </div>  
        <div class="modal-footer footer_conf">
            <!-- Footter del modal -->
              <button type="button" name="modal_reporte_salir" id="modal_reporte_salir" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
              <button type="button" name="modal_reporte_aceptar" id="modal_reporte_aceptar" class="btn btn-primary" data-dismiss="modal" ng-click="agregar_contenido()">Agregar</button>
            <!-- Fin footter del modal -->
        </div>
      </div>
    </div>
</div>
<!-- --> 
<!-- Segundo modal  -->
<div class="modal fade" id="modal_img2" name="modal_img2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg .modal-sm">
      <div class="modal-content">
        <div class="modal-header header_conf">
            <button type="button" id="cerrar_mensaje2" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <p id="cabecera_mensaje" name="cabecera_mensaje"><b>Información:</b> Seleccione las marcas</p>
        </div>
        <div class="modal-body" id="cuerpo_mensaje" name="cuerpo_mensaje">
	        <!--Modal body -->
			<div class="centrar_galeria" ng-show="galeria_m.length ==0">No se han cargado imagenes</div>
			<div id="" ng-show="galeria_m.length!=0" class="fade-in-out">
				<div class="form-group">
					<input type='text' name='filtro_soportes' id='filtro_soportes' placeholder='Ingrese el valor a filtrar' class="form-control" ng-model="searchSoportes" ng-click="limpiar_arreglos()">
				</div>
				<div>
					<div class="col-lg-12" padding="0px;" class="img_galeria_soportes">
						<div id="masonrry2" padding="0px;">
							<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 divbiblioteca" ng-repeat="imagen in galeria_m | filter : searchSoportes track by $index">
								<div class="grid-item3">
									<img class="imgbiblioteca" id="img_soporte{{$index}}" ng-src="{{imagen.path_imagen}}" height="115" data-ng-click="seleccionar_imagen_soportes($event)" data="{{imagen.id}}|{{imagen.path_imagen}}">
								</div>
							</div>
						</div>	
					</div>
				</div>
			</div>
			<div style="clear:both"></div>
	        <!-- modal body-->
        </div>  
        <div class="modal-footer footer_conf">
            <!-- Footter del modal -->
              <button type="button" name="modal_reporte_salir" id="modal_reporte_salir" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
            <!-- Fin footter del modal -->
        </div>
        <div style="clear:both"></div>
      </div>
    </div>
</div>
<!-- --> 
<!--fin bloque modal -->
