<script type="text/javascript">
	$("#select_categoria").selectpicker('refresh');
</script>
<!--Preloaders -->
<div class="loading-spiner-holder" data-loading >
    <div class="loading-spiner">
        <ng-include src="'./site_media/templates/preloader.html'"></ng-include>
    </div>
</div>  
<!-- -->
<ng-include src="'./site_media/templates/header.html'"></ng-include>
<div class="page-container row-fluid container-fluid">

<ng-include src="'./site_media/templates/menu_principal.html'"></ng-include>
 <!-- START CONTENT -->
<section id="main-content" class=" ">
    <form id="form_inicio2"></form>
    <section class="wrapper main-wrapper row" style=''>
        <div id="cuerpo_principal_album">
        <!-- CUERPO PRINCIPAL ESPECIALIDADES -->
		<div class='col-xs-12'>
		    <div class="page-title" style="display:none">
		        <div class="pull-left">
		            <!-- PAGE HEADING TAG - START -->
		            <h1 class="title" id="titulo_project">
						{{titulo_pagina}}
					</h1>
		            <!-- PAGE HEADING TAG - END--> 
		        </div>                     
		    </div>
		</div>
		<div class="clearfix"></div>
		<div class="col-xs-12 animated fadeIn">
		    <section class="box ">
		        <header class="panel_header">
		        	<div>
			        	<div class="contenedor_icono">
				        	<div class="circulo_fuente">
				        		<i class="fa fa-envelope" aria-hidden="true"></i>
				        	</div>
				        </div>	
			            <h2 class="title pull-left"> Contenido Inicial de la página</h2>
			        </div>    
		        </header>
		        <hr>
		        <div class="content-body">
				<!-- Cuerpo del formulario -->
				<form id="form_registro_galeria" name="form_registro_galeria" enctype="multipart/form-data">
				    <div class="row">
				    	<div class="col-md-12 col-sm-12 col-xs-12" style="padding-left:0px;">
				    		<div class="col-lg-8 col-md-8 col-xs-8 col-sm-8">
					    		<div class="form-group">
					                <label class="form-label" for="field-1">Ingrese la información pertinente a los mensajes iniciales de su site</label>
					            </div>
				            </div> 
				            <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
				            	<div id="mensaje_album" name="mensaje_album"></div>
				            </div>   
				    	</div>
				    	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					        <div class="col-md-6 col-sm-12 col-xs-12" style="padding-left:0px;padding-right:0px;">
					            <div class="form-group">
					            	<label class="form-label">Título:</label>
					                <div class="controls">
					                <input type="text" name="titulo_mensaje" id="titulo_mensaje" class="form-control" ng-model="mensaje.titulo" placeholder="Ingrese el título del mensaje" onKeyPress="return valida(event,this,18,50)" onBlur="valida2(this,18,50);">
					                </div>
					            </div>
					        </div>
					        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-class="{visible:mensaje.id!='',invisible:mensaje.id===''}" style="padding-left:0px;">
				        		<div class="form-group">
				        			<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 col-xs-12" style="padding-left:0px;">
				        				<label class="form-label">Estatus:</label>
				        			</div>	
				        			<div class="controls col-lg-6 col-md-12 col-xs-12 col-sm-12" style="float:left;">
				        				<div ng-click="activar_check('#check_publicado');"><i id="check_publicado" class="fa fa-square-o cuadrado" style="" aria-hidden="true"></i></div>
				        				<div>  Publicado</div>
				        			</div>
					        	</div>
						    </div>
				        </div>
				        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			        		<div class="form-group">
				            	<label class="form-label">Descripción</label>
				            	<div class="controls">
				                	<textarea id="descripcion_mensaje" name="descripcion_mensaje" class="form-control" ng-model="mensaje.descripcion" placeholder="Ingrese contenido del mensaje" onKeyPress="return valida(event,this,18,50)" onBlur="valida2(this,18,50);"></textarea>
				                </div>
					        </div>
				        </div>
				<!-- --> 
				    </div>
				</form>    
				    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="padding:0px;">
						<hr>
						<input type="hidden" size="5" id="id" name="id" ng-model="mensaje.id">
						<div class="col-lg-6 col-md-4 col-xs-12 col-sm-12" id="mensaje_mensaje" name="mensaje_mensaje"></div>
						<div id="botonera-bloque" name="botonera-bloque">
							<div class="col-lg-6 col-md-8 col-xs-12 col-sm-12" style="float:right;padding:0px;">
								<div class="col-lg-4 col-md-4 col-xs-12" style="padding-right:0px;">
									<div class="btn btn-aqua" style="float:right;width:100%" class="limpiar" ng-click="limpiar_cajas()"><i class="fa fa-file-o" aria-hidden="true"></i> Limpiar</div>
								</div>
								<div class="col-lg-4 col-md-4 col-xs-12" style="padding-right:0px;" >
									<div class="btn btn-aqua" style="float:right;width:100%" class="consultar" ng-click="consultar_mensajes()"><i class="fa fa-search" aria-hidden="true"></i> Consultar</div>
								</div>
								<div class="col-lg-4 col-md-4 col-xs-12" style="padding-right:0px;">
									<div class="btn btn-aqua" style="float:right;width:100%" class="registrar" ng-click="registrar_mensaje()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Registrar</div>
								</div>
							</div>
							<div  style="clear:both"></div>
						</div>
					</div>
					<div style="clear:both"></div>
			    </div>
		    </section>
			<!--Bloque modal del sistema -->
			<div class="modal fade" id="modal_mensaje" name="modal_mensaje" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
			    <div class="modal-dialog modal-lg .modal-sm">
			      <div class="modal-content">
			        <div class="modal-header header_conf">
			            <button type="button" id="cerrar_mensaje2" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			            <p id="cabecera_mensaje" name="cabecera_mensaje"></p>
			        </div>
			        <div class="modal-body" id="cuerpo_mensaje" name="cuerpo_mensaje">
			        <!--Modal body -->
			        <!-- modal body-->
			        </div>  
			        <div class="modal-footer footer_conf">
			            <!-- Footter del modal -->
			              <button type="button" name="modal_reporte_salir" id="modal_reporte_salir" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
			              <button type="button" name="modal_reporte_aceptar" id="modal_reporte_aceptar" class="btn btn-primary" data-dismiss="modal" ng-click="procesar_operacion()">Aceptar</button>
			            <!-- Fin footter del modal -->
			        </div>
			      </div>
			    </div>
			</div>
			<!-- -->  
		</div>
		<!--FIN CUERPO PRINCIPAL -->
		</div>
	</section>
</section>
</div>
			
<script type="text/javascript">
</script>