<!-- SIDEBAR - START -->
<div class="page-sidebar pagescroll">

    <!-- MAIN MENU - START -->
    <div class="page-sidebar-wrapper" id="main-menu-wrapper"> 
        <!-- USER INFO - START -->
        <div class="profile-info row">

            <div class="profile-image col-xs-4">
                <a href="ui-profile.html">
                    <img alt="" src="site_media/images/user.png" class="img-responsive img-circle">
                </a>
            </div>

            <div class="profile-details col-xs-8">

                <h3>
                    <a href="ui-profile.html">{{login_usuario}}</a>
                    <!-- <a href="ui-profile.html">Administrador</a>-->
                    <!-- Available statuses: online, idle, busy, away and offline -->
                    <span class="profile-status online"></span>
                </h3>

                <p class="profile-title"></p>

            </div>

        </div>
        <!-- USER INFO - END -->
        <ul class='wraplist'>
            <div id="contenedor_principal">
                <div id="content">
                    <li class='menusection'>Menú</li>
                        
                        <li class="" ng-class="{'open': menu === 'empresa'}"> 
                            <a href="javascript:;" class="form-group">
                                <i class="fa fa-building-o" aria-hidden="true"></i>
                                <span class="title">Nuestra empresa</span>
                                <span class="arrow" ng-class="{'open': menu === 'empresa'}" ></span>
                            </a>
                            <ul class="sub-menu" id="menu_uno" ng-class="{'activo': menu === 'empresa','inactivo': menu != 'empresa'}">
                                <li ng-click="opcion_menu('quienes_somos')">
                                    <a class="" href="#/quienes_somos"><i class="fa fa-users" aria-hidden="true"></i>Quienes somos</a>
                                </li>
                                <li ng-click="opcion_menu('marcas')">
                                    <a class="" href="#/marcas"><i class="fa fa-shield" aria-hidden="true"></i>Nuestras Marcas</a>
                                </li>
                            </ul>
                        </li>
                        <li class="" > 
                            <a  href="#/configurar_slider">
                                <i class="fa fa-sliders" aria-hidden="true"></i>
                                <span class="title">Configurar slider</span>
                            </a>    
                        </li>
                        <li class="" ng-class="{'open': menu === 'negocios'}"> 
                            <a href="javascript:;">
                                <i class="fa fa-usd" aria-hidden="true"></i>
                                <span class="title">Negocios</span>
                                <span class="arrow" ng-class="{'open': menu === 'negocios'}" ></span>
                            </a>
                            <ul class="sub-menu" id="menu_uno" ng-class="{'activo': menu === 'negocios','inactivo': menu != 'negocios'}">
                                <li ng-click="opcion_menu('tipos_negocios')">
                                    <a class="" href="#/tipos_negocios"><i class="fa fa-calendar" aria-hidden="true"></i>Tipo de negocio</a>
                                </li>
                                <li>
                                <li ng-click="opcion_menu('detalles_negocios')">
                                    <a class="" href="#/detalles_negocios"><i class="fa fa-id-card" aria-hidden="true"></i>Detalle de negocio</a>
                                </li>
                            </ul>
                        </li>
                        <li class=""> 
                            <a href="#/noticias">
                                <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                <span class="title">Noticias</span>
                            </a>    
                        </li>
                        <li class="" ng-class="{'open': menu === 'galeria'}"> 
                            <a href="javascript:;">
                                <i class="fa fa-video-camera" aria-hidden="true"></i>
                                <span class="title">Galería multimedia</span>
                                <span class="arrow" ng-class="{'open': menu === 'galeria'}" ></span>
                            </a>
                            <ul class="sub-menu" id="menu_uno" ng-class="{'activo': menu === 'galeria','inactivo': menu != 'galeria'}">
                                <li ng-click="opcion_menu('galeria')">
                                    <a class="" href="#/album_fotos"><i class="fa fa-folder" aria-hidden="true"></i>Configurar album</a>
                                </li>
                                <li ng-click="opcion_menu('galeria')">
                                    <a class="" href="#/galeria_videos"><i class="fa fa-youtube-play" aria-hidden="true"></i>Videos</a>
                                </li>
                                <li>
                                <li ng-click="opcion_menu('galeria')">
                                    <a class="" ng-class="{'open': menu === 'galeria'}" href="#/galeria"><i class="fa fa-picture-o" aria-hidden="true"></i>Imagenes</a>
                                </li>
                            </ul>
                        </li>
                         <li class="" ng-class="{'open': menu === 'contactos'}" > 
                            <a href="javascript:;">
                                <i class="fa fa-table" aria-hidden="true"></i>
                                <span class="title">Contactos</span>
                                <span class="arrow" ng-class="{'open': menu === 'contactos'}" ></span>
                            </a>
                            <ul class="sub-menu lista_extensa" id="menu_uno"  ng-class="{'activo': menu === 'contactos','inactivo': menu != 'contactos'}" >
                                <li ng-click="opcion_menu('redes_sociales')">
                                    <a class=""  href="#/redes_sociales"><i class="fa fa-facebook-square" aria-hidden="true"></i>Redes Sociales</a>
                                </li>
                                <li ng-click="opcion_menu('contactos')">
                                    <a class="" href="#/direccion"><i class="fa fa-map-marker" aria-hidden="true"></i>Dirección</a>
                                </li>
                                </li>
                                <li ng-click="opcion_menu('contactos')">
                                    <a class="" href="#/contactos"><i class="fa fa-th" aria-hidden="true"></i>Contactos</a>
                                </li>
                                <li ng-click="opcion_menu('contactos')">
                                    <a class="" href="#/contactos_empleo"><i class="fa fa-address-card-o" aria-hidden="true"></i>Contactos-empleo</a>
                                </li>
                                <li ng-click="opcion_menu('contactos')">
                                    <a class="" href="#/footer"><i class="fa fa-caret-square-o-down" aria-hidden="true"></i>Footer</a>
                                </li>
                                 <li ng-click="opcion_menu('contactos')">
                                    <a class="" href="#/correos"><i class="fa fa-envelope-square" aria-hidden="true"></i>Correos</a>
                                </li>
                            </ul>    
                        </li>
                        <li class="" ng-class="{'open': menu === 'configuracion'}" > 
                            <a href="javascript:;">
                                <i class="fa fa-cogs" aria-hidden="true"></i>
                                <span class="title">Configuración</span>
                                <span class="arrow" ng-class="{'open': menu === 'configuracion'}" ></span>
                            </a>
                            <ul class="sub-menu" id="menu_uno" ng-class="{'activo': menu === 'configuracion','inactivo': menu != 'configuracion'}">
                                <li ng-click="opcion_menu('usuarios')">
                                    <a class="" ng-class="{'open': submenu === 'doctores'}" href="#/usuarios"><i class="fa fa-user-circle" aria-hidden="true"></i>Usuarios</a>
                                </li>
                            </ul>    
                        </li>
                        <div style="clear:both"></div>
                </div>
            </div>            
        </ul>
    </div>
    <!-- MAIN MENU - END -->
</div>
<!--  SIDEBAR - END -->
<script src="site_media/js/scripts.js" type="text/javascript"></script> 
<script type="text/javascript">
    $("#contenedor_principal").perfectScrollbar();
</script>