<div class="loading-spiner-holder" data-loading >
    <div class="loading-spiner">
        <ng-include src="'./site_media/templates/preloader.html'"></ng-include>
    </div>
</div>    
<ng-include src="'./site_media/templates/header.html'"></ng-include>
<div class="page-container row-fluid container-fluid">
    <ng-include src="'./site_media/templates/menu_principal.html'"></ng-include>
     <!-- START CONTENT -->
    <section id="main-content" class=" ">
        <form id="form_inicio2"></form>
        <section class="wrapper main-wrapper row" style='max-height: 700px;overflow-x: hidden;'>
            <div id="cuerpo_principal_panel">
                <!--CUERPO PRINCIPAL DR -->
                <div class='col-xs-12'>
                    <div class="page-title" style="display:none">
                        <div class="pull-left">
                            <!-- PAGE HEADING TAG - START -->
                            <h1 class="title" id="titulo_project">
                                {{titulo_pagina}}
                            </h1>
                            <!-- PAGE HEADING TAG - END--> 
                        </div>                     
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-xs-12 animated fadeIn">
                    <section class="box ">
                        <div class="content-body" id="cuerpo_btn_galeria">
                        <!-- Cuerpo del formulario -->
                            <div class="cuerpo_ini">
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                  <div><img src="site_media/images/axioma.svg" class="img_ppal imagen_panel" style=""></div>
                              </div>  
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                  <div class="texto_panel">Bienvenido al manejador de contenidos Contentmanager v:3.0</div>
                                  <div class="subtitulo_panel"><h3> Modulo de prueba</h3></div>
                              </div>
                            </div>
                            <div style="clear:both"></div>
                        </div>
                    </section>
                    <!--Bloque modal del sistema -->
                    <div class="modal fade" id="modal_mensaje" name="modal_mensaje" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
                        <div class="modal-dialog modal-lg .modal-sm">
                          <div class="modal-content">
                            <div class="modal-header header_conf">
                                <button type="button" id="cerrar_mensaje2" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <p id="cabecera_mensaje" name="cabecera_mensaje"></p>
                            </div>
                            <div class="modal-body" id="cuerpo_mensaje" name="cuerpo_mensaje">
                            <!--Modal body -->
                            <!-- modal body-->
                            </div>  
                            <div class="modal-footer footer_conf">
                                <!-- Footter del modal -->
                                  <button type="button" name="modal_reporte_salir" id="modal_reporte_salir" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                  <button type="button" name="modal_reporte_aceptar" id="modal_reporte_aceptar" class="btn btn-primary" data-dismiss="modal" ng-click="procesar_operacion()">Aceptar</button>
                                <!-- Fin footter del modal -->
                            </div>
                          </div>
                        </div>
                    </div>
                    <!-- --> 
                </div>
            <!-- FIN CUERPO PRINCIPAL DR -->    
            </div>
            <!-- MAIN CONTENT AREA ENDS -->
        </section>
    </section>
    <!-- END CONTENT -->
</div>