<style type="text/css">
	/* preloader */
	#preloader {
	  position: fixed;
	  top:0; left:0;
	  right:0; bottom:0;
	  /*background: #0dc5c1;*/
	  background:#fff;
	  z-index: 999999999;
	}
	/* loader*/
	.loader {
	  color: #000;
	  font-size: 20px;
	  margin: 100px auto;
	  width: 1em;
	  height: 1em;
	  border-radius: 50%;
	  position: relative;
	  text-indent: -9999em;
	  -webkit-animation: load4 1.3s infinite linear;
	  animation: load4 1.3s infinite linear;
	  -webkit-transform: translateZ(0);
	  -ms-transform: translateZ(0);
	  transform: translateZ(0);
	}
	.mensaje_loader{
	  font-size: 18pt;
	  font-family: Roboto;
	  color: #000;
	  text-align: center;
	}
</style>
<div id="preloader" style="">
	<div style="margin-top:20%;">
		<div id="loader" class="">
			<img src="site_media/images/spin2.gif" style="margin: 0 auto;display: flex;">
		</div>
		<div class="mensaje_loader">Espere unos segundos por favor </div>
	</div>	
</div>