<script type="text/javascript" src="site_media/js/angular/controladores/quienesSomosController.js"></script>
<!--Preloaders -->
<div class="loading-spiner-holder" data-loading >
    <div class="loading-spiner">
        <ng-include src="'./site_media/templates/preloader.html'"></ng-include>
    </div>
</div>  
<!-- -->
<ng-include src="'./site_media/templates/header.html'"></ng-include>
<div class="page-container row-fluid container-fluid">
    <ng-include src="'./site_media/templates/menu_principal.html'"></ng-include>
     <!-- START CONTENT -->
    <section id="main-content" class="" style="">

    	<section class="wrapper main-wrapper row">
            <div id="cuerpo_principal_doctor">
            <!--  -->
				<div class='col-xs-12'>
				    <div class="page-title" style="display:none">
				        <div class="pull-left">
				            <!-- PAGE HEADING TAG - START -->
				            <h1 class="title" id="titulo_project">
								{{titulo_pagina}}
							</h1>
				            <!-- PAGE HEADING TAG - END--> 
				        </div>                     
				    </div>
				</div>
				<div class="clearfix"></div>
				<div class="col-xs-12 animated fadeIn">
				    <section class="box ">
				        <header class="panel_header">
				        	<div>
					        	<div class="contenedor_icono">
						        	<div class="circulo_fuente">
						        		<i class="fa fa-users" aria-hidden="true"></i>
						        	</div>
						        </div>	
					            <h2 class="title pull-left"> {{titulo_pagina}} </h2>
					        </div>    
				        </header>
				        <hr>
				        <div class="content-body">
						<!-- Cuerpo del formulario -->
						<form id="form_registro_especialidades" name="form_registro_especialidades" enctype="multipart/form-data">
						    <div class="row">
						    	<!-- -->
						    	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
									<div class="form-group">
										<label>Tipo de red social:</label>
										<select name="tipo_red" id="tipo_red" class="form-control m-bot15 select-picker" data-done-button="true" data-actions-box="true"  data-live-search-placeholder="Seleccione una red social" placholder="Seleccione una red social" data-style="btn-fff " data-live-search="true" ng-options="option.descripcion for option in tipos_red_social track by option.id" ng-model="redes_sociales.tipo_red_social" data-size="3" ng-change="consultar_red()">
											<option value="">--Seleccione tipo de red social--</option>
										</select>
							    	</div>
								</div>
								<!-- -->
						    	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
									<div class="form-group">
										<label>url:</label>
										<input type="text" name="url_red" id="url_red" class="form-control" placeholder="Ingrese la url de su perfil" ng-model="redes_sociales.url_red">
							    	</div>
								</div>
								<!-- -->  
							</div>    
						</form> 
						    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="padding:0px;padding-bottom: 80px;">
								<input type="hidden" size="5" id="id" name="id" ng-model="doctor.id">
								<div class="col-lg-6 col-md-4 col-xs-12 col-sm-12" id="mensaje_quienes_somos" name="mensaje_redes"></div>
								<div id="botonera-bloque" name="botonera-bloque" style="margin-top:10px;">
									<div class="col-lg-6 col-md-8 col-xs-12 col-sm-12" style="float:right;padding:0px;">
										<div class="col-lg-4 col-md-4 col-xs-12" style="padding-right:0px;"></div>	
										<div class="col-lg-4 col-md-4 col-xs-12" style="padding-right:0px;">
											<div class="btn btn-aqua" style="float:right;width:100%" class="limpiar" ng-click="limpiar_redes_sociales()"><i class="fa fa-file-o" aria-hidden="true"></i> Limpiar</div>
										</div>
										<div class="col-lg-4 col-md-4 col-xs-12" style="padding-right:0px;float:right">
											<div class="btn btn-aqua" style="float:right;width:100%" class="registrar" ng-click="registrar_redes_sociales()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Registrar</div>
										</div>
									</div>
									<div  style="clear:both"></div>
								</div>
							</div>
							<div style="clear:both"></div>
					    </div>
				    </section>

				</div>
			<!-- FIN CUERPO PRINCIPAL DR -->	
			</div>
		</section>		
	</section>
	<!-- END CONTENT -->
</div>