<script type="text/javascript">
	$("#select_categoria").selectpicker('refresh');
</script>
<!--Preloaders -->
<div class="loading-spiner-holder" data-loading >
    <div class="loading-spiner">
        <ng-include src="'./site_media/templates/preloader.html'"></ng-include>
    </div>
</div>  
<!-- -->
<ng-include src="'./site_media/templates/header.html'"></ng-include>
<div class="page-container row-fluid container-fluid">
    <ng-include src="'./site_media/templates/menu_principal.html'"></ng-include>
     <!-- START CONTENT -->
    <section id="main-content" class=" ">
    	<section class="wrapper main-wrapper row" style=''>
            <div id="cuerpo_principal_doctor">
				<div class="clearfix"></div>
				<div class="col-xs-12 animated fadeIn">
				    <section class="box ">
				        <header class="panel_header">
				        	<div>
					        	<div class="contenedor_icono">
						        	<div class="circulo_fuente">
						        		<i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
						        	</div>
						        </div>	
					            <h2 class="title pull-left"> {{titulo_seccion}}</h2>
					        </div>    
				        </header>
				        <hr>
				        <div class="content-body">
						<!-- Cuerpo del formulario -->
						<form id="form_registro_galeria" name="form_registro_galeria" enctype="multipart/form-data">
						    <div class="row">
						    	<div class="col-md-12 col-sm-12 col-xs-12" style="padding-left:0px;">
						    		<!--Cuerpo de formulario -->
									    <!-- MAIN CONTENT AREA STARTS -->
    									<div class="col-lg-12">
										    <section class="box nobox ">
										    	<div class="content-body">
										    		<div >
										    			<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 contenedor_select_dr">
											    				<div class="col-lg-6 col-md-6 col-xs-12 col-sm-12" style="padding-left: 0px;">
											    					<div class="form-group">
												    					<label>Doctor:</label>
													    				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
														    				<select id="select_dr" name="select_dr" class="form-control m-bot15 select-picker" data-done-button="true" data-actions-box="true"  data-live-search-placeholder="Seleccione un doctor" placholder="Seleccione un doctor" data-style="btn-fff " data-live-search="true"
																			ng-options="option.nombres_apellidos for option in doctores track by option.id" ng-change="obtener_citas()" ng-model="doctor">
														    					<option value="">--Seleccione un doctor--</option>
														    				</select>
														    			</div>
														    			<div style="clear:both"></div>
														    		</div>
												    			</div>
												    			<div class="col-lg-6 col-md-6 col-xs-12 col-sm-12" style="padding-left: 0px;" ng-class="{'activo':doctor.nombre_especialidad!='','inactivo':doctor.nombre_especialidad===''}">
												    				<div class="col-lg-5 col-md-5 col-xs-10 col-sm-10" style="padding-left:0px"> 
												    					<div class="form-group">
												    						<label>Especialidad:</label>
												    						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">{{doctor.nombre_especialidad}}</div>
												    						<div style="clear:both"></div>
												    					</div>
												    				</div>		
													    			<div class="col-lg-2 col-md-2 col-xs-2 col-sm-2">
														    			<div class="btn_eliminar_citas" title="eliminar" ng-click="borrar_citas()"> 
														    				<i class="fa fa-trash" aria-hidden="true" style="font-size: 25pt" ></i>
														    			</div>
														    		</div>
														    	</div>	
										    			</div>
										    			<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="padding:0px;">
													        <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12" style="padding:0px;">
													            <form method="post" id="add_event_form">
													                <div id="btn_mas" name="btn_man" ng-click="mostrar_modal_agenda()"
													                class="inactivo">
													                	<i class="fa fa-plus-circle btn_plus" aria-hidden="true" title="Agregar cita"></i>
													                </div>
													            </form>
													            <div id='external-events' class="col-lg-12 col-md-12 col-xs-12 col-sm-12" >
													            	<div class="form-group">
															            <label>Citas por agendar</label>
															            <div ng-class="{activo:cuantas_citas>0,inactivo:cuantas_citas===0}">
															            	<div id="caja_cita{{cita.id}}"  class="col-lg-12 col-md-12 col-xs-12 col-sm-12 caja_citas" ng-repeat="cita in citas" style="padding:0px;">
															                	<div class="col-lg-2 col-md-2 col-xs-2 col-sm-2" style="padding:0px;">
															                		<div ng-click="activar_check($event);"><i id="check_publicado{{cita.id}}" data="{{cita.id}}" class="fa fa-square-o cuadrado2" style="" aria-hidden="true"></i></div>
															                	</div>	
																                <div class="container-citas col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding:0px;">
																                	<div class='fc-event bg-purple'>		
																                		<div class="">
															                				<div class="col-lg-12" id='cuadro_cita{{cita.number}}' style="padding:0px;">
															                					|#{{cita.id}}|{{cita.nombres_persona}}
															                				</div>
																							<div style="clear:both"></div>
																                		</div>
																                	</div>
																                </div>
																                <br>
																            </div> 
														            	</div>
														            	<div ng-class="{activo:cuantas_citas===0,inactivo:cuantas_citas>0}">
														            		<div>
														            			<i class="fa fa-times" aria-hidden="true" style="color:#f44336"></i>
														            			No tiene citas por agendar.
														            		</div>
														            	</div>
														            	<div style="clear:both"></div>
													            	</div>
													            </div>	
													        </div>
													        <div id='calendar' class="col-lg-9 col-md-10 col-xs-12 col-sm-12"></div>
												        </div>
												    </div>
										    	</div>
										    </section>
										</div>
										<!-- MAIN CONTENT AREA ENDS -->
						    		<!-- -->
						    	</div>
						<!-- --> 
						    </div>
						</form>    
						<!--  Seccion botonera -->
						    <!--<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="padding:0px;">
								<hr>
								<input type="text" size="5" id="id" name="id" ng-model="mensaje.id">
								<div class="col-lg-6 col-md-4 col-xs-12 col-sm-12" id="mensaje_album" name="mensaje_album"></div>
								<div id="botonera-bloque" name="botonera-bloque">
									<div  style="clear:both"></div>
								</div>
							</div>-->
						<!--Fin seccion botonera -->
						</div>
						<!-- Fin content -->
							<div style="clear:both"></div>
					    </div>
				    </section>
				<!--Bloque modal del sistema -->
					<div class="modal fade" id="modal_agenda" name="modal_agenda" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" style="z-index:9000">
					    <div class="modal-dialog modal-lg .modal-sm">
					      <div class="modal-content">
					        <div class="modal-header header_conf configuracion_web">
					            <button type="button" id="cerrar_mensaje2" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					            <p id="cabecera_mensaje" name="cabecera_mensaje">Indique información de la cita a agendar</p>
					        </div>
					        <div class="modal-body" id="cuerpo_mensaje" name="cuerpo_mensaje">
					        <!--Modal body -->
					        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					        	<div class="form-group">
					        		<div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
					        			<label>Paciente:</label>
					        		</div>
					        		<div class="col-lg-9 col-md-9 col-xs-12 col-sm-12">
					        			<input type="text" class="form-control" id="nombre_paciente" name="nombre_paciente" readonly>
					        		</div>
					        		<div style="clear:both;"></div>
					        	</div>
					        </div>
					        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					        	<div class="form-group">
					        		<div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
					        			<label>Día:</label>
					        		</div>
					        		<div class="col-lg-9 col-md-9 col-xs-12 col-sm-12">
					        			<!--<input type="text" class="form-control timepicker" id="hora_cita_paciente" name="hora_cita_paciente"  data-template="dropdown" data-show-seconds="true" data-default-time="12:00 AM" data-show-meridian="true" data-minute-step="5" ng-model="paciente.hora">-->
					        			<div class="input-group bootstrap-timepicker timepicker">
            								<input id="dia_cita_paciente" name="dia_cita_paciente" type="text" class="form-control input-small" readonly="">
            								<span class="input-group-addon">
            									<i class="glyphicon glyphicon-calendar"></i>
            								</span>
        								</div>
					        		</div>
					        		<div style="clear:both;"></div>
					        	</div>
					        </div>
					        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">	
					        	<div class="form-group">
					        		<div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
					        			<label>Hora de la cita:</label>
					        		</div>
					        		<div class="col-lg-9 col-md-9 col-xs-12 col-sm-12">
					        			<!--<input type="text" class="form-control timepicker" id="hora_cita_paciente" name="hora_cita_paciente"  data-template="dropdown" data-show-seconds="true" data-default-time="12:00 AM" data-show-meridian="true" data-minute-step="5" ng-model="paciente.hora">-->
					        			<div class="input-group bootstrap-timepicker timepicker">
            								<input id="hora_cita_paciente" name="hora_cita_paciente" type="text" class="form-control input-small" >
            								<span class="input-group-addon">
            									<i class="glyphicon glyphicon-time"></i>
            								</span>
        								</div>
					        		</div>
					        		<div style="clear:both;"></div>
					        	</div>
					        </div>
				        	<div style="clear:both;"></div>
					        <!-- modal body-->
					        </div>  
					        <div class="modal-footer footer_conf">
					        	<div class="col-lg-8 col-md-8 col-xs-12 col-sm-12" id="mensaje_cita" name="mensaje_cita" style="text-align: -webkit-left;"></div>
					            <!-- Footter del modal -->
					              <button type="button" name="modal_reporte_salir" id="modal_reporte_salir" class="btn btn-danger" data-dismiss="modal">Salir</button>
					               <button type="button" name="modal_reporte_aceptar" id="modal_reporte_aceptar" class="btn btn-success" ng-click="liberar_cita()">Liberar</button>
					              <button type="button" name="modal_reporte_aceptar" id="modal_reporte_aceptar" class="btn btn-primary" ng-click="agendar_cita()">Agendar</button>
					            <!-- Fin footter del modal -->
					        </div>
					      </div>
					    </div>
					</div>
				<!-- -->  
				</div>
			</div>
		</section>
	</section>
</div>
<script type="text/javascript">
    $('#timepicker1').timepicker();
</script>