<!--Preloaders -->
<div class="loading-spiner-holder" data-loading >
    <div class="loading-spiner">
        <ng-include src="'./site_media/templates/preloader.html'"></ng-include>
    </div>
</div>  
<!-- -->
<ng-include src="'./site_media/templates/header.html'"></ng-include>
<div ng-controller="sliderConfController">
	<div class="page-container row-fluid container-fluid">
	    <ng-include src="'./site_media/templates/menu_principal.html'"></ng-include>
	     <!-- START CONTENT -->
	    <section id="main-content" class=" " >
	    	<section class="wrapper main-wrapper row" style=''>
	            <div id="cuerpo_principal_doctor">
	            <!--CUERPO PRINCIPAL DR -->
					<div class='col-xs-12'>
					    <div class="page-title" style="display:none">
					        <div class="pull-left">
					            <!-- PAGE HEADING TAG - START -->
					            <h1 class="title" id="titulo_project">
									{{titulo_pagina}}
								</h1>
					            <!-- PAGE HEADING TAG - END--> 
					        </div>                     
					    </div>
					</div>
					<div class="clearfix"></div>
					<div class="col-xs-12 animated fadeIn">
					    <section class="box ">
					        <header class="panel_header">
					        	<div class="texto_slider">
						        	<div class="contenedor_icono">
							        	<div class="circulo_fuente">
							        		<i class="fa fa-sliders" aria-hidden="true"></i>
							        	</div>
							        </div>	
						            <h2 class="title  pull-left"> {{titulo_pagina}} </h2>
						        </div>    
					        </header>
					        <hr>
					        <div class="content-body" style="">
							<!-- Cuerpo del formulario -->
							<div  class="col-lg-12 col-md-12 col-xs-12 col-sm-12 padding0_min padding0 " style="margin-bottom: 5px;">
								<div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 padding0_min " style="padding-top: 5px; padding-left:0px;">
									<label class="form-label">Seleccione un idioma:</label>
									<select name="idioma" id="idioma" class="form-control m-bot15 select-picker" data-done-button="true" data-actions-box="true"  data-live-search-placeholder="Seleccione tipo de idioma" placholder="Seleccione tipo de idioma" data-style="btn-fff " data-live-search="true" ng-options="option.descripcion for option in idioma track by option.id" ng-model="select_idioma" data-size="3" ng-change="consultar_slider();">
										<option value="">--Idiomas--</option>
									</select>
								</div>
								
							</div>
							<div style="clear:both"></div>
							<form id="form_slider" name="form_slider" enctype="multipart/form-data" >
							    <div class="row" id="super_contenedor">

							    	<imagen_slider></imagen_slider>
							    	<div style="clear:both"></div>
									<!-- --> 
								</div>    
							</form> 
							    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="padding:0px;">
									<div class="col-lg-4 col-md-4 col-xs-12 col-sm-12" id="mensaje_slider" name="mensaje_slider"></div>
									<div id="botonera-bloque" name="botonera-bloque" style="margin-top:10px;" class="">
										<div class="col-lg-6 col-md-8 col-xs-12 col-sm-12" style="float:right;padding:0px;">
											<div class="col-lg-3 col-md-3 col-xs-12" style="padding-right:0px;">
							    				<div class="btn btn-aqua invisible" style="float:right;width:100%" title="Ver slider" class="limpiar" ng-click="actualiza_lista_orden()"><i class="fa fa-eye" aria-hidden="true"></i> 
							    				</div>
											</div>
											<div class="col-lg-3 col-md-3 col-xs-12" style="padding-right:0px;">
							    				<div id="btn_agregar" class="btn btn-aqua invisible" style="float:right;width:100%" title="Agregar" class="limpiar" ng-click="agregar_slider()"><i class="fa fa-plus-circle" aria-hidden="true"></i> 
							    					
							    				</div>
											</div>
											<div class="col-lg-3 col-md-3 col-xs-12" style="padding-right:0px;">
							    				<div id="btn_quitar" class="btn btn-aqua invisible" style="float:right;width:100%" title="Quitar" class="limpiar" ng-click="quitar_slider()"><i class="fa fa-minus-circle" aria-hidden="true"></i> 
							    					
							    				</div>
											</div>
											<div class="col-lg-3 col-md-3 col-xs-12" style="padding-right:0px;">
												<div class="btn btn-aqua" style="float:right;width:100%" title="Registrar" class="registrar" ng-click="registrar_slider()"><i class="fa fa-floppy-o" aria-hidden="true"></i> </div>
											</div>
										</div>
										<div  style="clear:both"></div>
									</div>
								</div>
								
								<div style="clear:both"></div>
						    </div>
					    </section>

					</div>
				<!-- FIN CUERPO PRINCIPAL DR -->	
				</div>
			</section>		
		</section>
		<input type="text" size="2" value="0" id="valor_slider">
		<!-- END CONTENT -->
	</div>
	<!--Cuerpo del Modal -->
	<!--modal1 -->
	<!--Bloque modal del sistema -->
	<div class="modal fade" id="modal_img" name="modal_img" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
	    <div class="modal-dialog modal-lg .modal-sm">
	      <div class="modal-content">
	        <div class="modal-header header_conf">
	            <button type="button" id="cerrar_mensaje2" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	            <p id="cabecera_mensaje" name="cabecera_mensaje"><b>Información:</b> Seleccione la imagen para el Slide <div id="opcion"></div></p>
	        </div>
	        <div class="modal-body" id="cuerpo_mensaje" name="cuerpo_mensaje">
		        <!--Modal body -->
				<div class="centrar_galeria" ng-show="galeria.length ==0">Galería de Imágenes</div>
				<div id="" ng-show="galeria.length!=0" class="fade-in-out">
					<div>
						<div class="form-group">
							<input type='text' name='filtro_doctores' id='filtro_doctores' placeholder='Ingrese el valor a filtrar' class="form-control" ng-model="searchDoctores">
						</div>
						<div class="col-lg-12" padding="0px;">
							<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 divbiblioteca" ng-repeat="imagen in galeria | filter:searchDoctores track by $index">
								<img class="imgbiblioteca"  id="img_slider{{$index}}" ng-src="{{imagen.path_imagen}}" height="115" data="{{imagen.id}}|{{imagen.path_imagen}}|0" data-ng-click="seleccionar_imagen($event)">
							</div>
						</div>
					</div>
				</div>
				<input type="hidden" id="numero" name="numero">
				<div style="clear:both"></div>
		        <!-- modal body-->
	        </div>  
	        <div class="modal-footer footer_conf">
	            <!-- Footter del modal -->
	              <button type="button" name="modal_reporte_salir" id="modal_reporte_salir" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
	            <!-- Fin footter del modal -->
	        </div>
	        <div style="clear:both"></div>
	      </div>
	    </div>
	</div>
	<!-- -->
	<div class="modal fade" id="modal_slider" name="modal_slider" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
	    <div class="modal-dialog modal-lg .modal-sm">
	      <div class="modal-content">
	        <div class="modal-header header_conf">
	            <button type="button" id="cerrar_mensaje2" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	            <p id="cabecera_mensaje" name="cabecera_mensaje"><b>Información:</b> Vista previa del slider <div id="opcion"></div></p>
	        </div>
	        <div class="modal-body" id="cuerpo_mensaje" name="cuerpo_mensaje">
		        <!--Modal body -->
				<div class="centrar_galeria" ng-show="galeria.length ==0">SLIDER</div>
				<div id="" ng-show="galeria.length!=0" class="fade-in-out">
					<div>
						<div>
							<!-- -->
							<div class="">
								<div class="row">
									<!-- Carousel -->
							    	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
										<!-- Indicators -->
										<ol class="carousel-indicators" >
										  		<li id="opcion_{{$index}}" data-target="#carousel-example-generic" data-slide-to="{{$index}}" ng-repeat="elemento in slider.imagen track by $index"></li>
										</ol>
										<!-- Wrapper for slides -->
										<div class="carousel-inner">
										    <div class="item" id="div_carousel_{{$index}}" ng-repeat="elemento in slider.imagen track by $index">
										    	<div  class="g-bg-cover  g-bg-black-opacity-0_3--after" style="width:100%">
										    		<img src="{{elemento}}" alt="First slide" style="height: 400px;">
								                </div>
								                <!-- Static Header -->
								                <div class="header-text hidden-xs">
								                     <div class="container g-z-index-1">
							                      	 	<div class="" style="width: 600px;">
								                        	<h2>
								                        		<span>{{slider.titulo[$index]}}</span>
								                       		 </h2>
								                        	
								                        	<h3>
								                        		<span ng-bind-html='slider.descripcion[$index]'></span>
								                        	</h3>
								                        	
								                        </div>	
								                    </div>
								                </div><!-- /header-text -->
											    <div style="clear:both"></div>
							   			    </div>
										</div>
										<div style="clear:both"></div>
									</div><!-- /carousel -->
									<div style="clear:both"></div>
								</div>
							</div>
							<!-- -->
</div>
					</div>
				</div>
				<div style="clear:both"></div>
		        <!-- modal body-->
	        </div>  
	        <div class="modal-footer footer_conf">
	            <!-- Footter del modal -->
	              <button type="button" name="modal_reporte_salir" id="modal_reporte_salir" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
	            <!-- Fin footter del modal -->
	        </div>
	        <div style="clear:both"></div>
	      </div>
	    </div>
	</div>
	<!-- --> 
</div>
<!--Bloque modal del sistema -->
<div class="modal fade" id="modal_contenido" name="modal_contenido" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg .modal-sm">
      <div class="modal-content">
        <div class="modal-header header_conf">
            <button type="button" id="cerrar_mensaje2" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <p id="cabecera_mensaje" name="cabecera_mensaje">
            	Ingrese el contenido de {{seccion}}
            </p>
        </div>
        <div class="modal-body" id="cuerpo_mensaje" name="cuerpo_mensaje">
        <!--Modal body -->
        	<div class="row">
        		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        			<textarea class="form-control" id="contenido_descripcion" name="contenido_descripcion"></textarea>
        		</div>
        	</div>
        <!-- modal body-->
        </div>  
        <div class="modal-footer footer_conf">
            <!-- Footter del modal -->
              <button type="button" name="modal_reporte_salir" id="modal_reporte_salir" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
              <button type="button" name="modal_reporte_aceptar" id="modal_reporte_aceptar" class="btn btn-primary" data-dismiss="modal" ng-click="agregar_contenido()">Agregar</button>
            <!-- Fin footter del modal -->
        </div>
      </div>
    </div>
    <input name="numero" id="numero" type="hidden">
</div>
<!-- --> 
<script type="text/javascript">
	$("#contenido_descripcion").trumbowyg();
</script>