<div>
<!-- -->
<div class="">
	<div class="row">
		<!-- Carousel -->
    	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators" >
			  		<li id="opcion_{{$index}}" data-target="#carousel-example-generic" data-slide-to="{{$index}}" ng-repeat="elemento in slider.imagen track by $index"></li>
			</ol>
			<!-- Wrapper for slides -->
			<div class="carousel-inner">
			    <div class="item" id="div_carousel_{{$index}}" ng-repeat="elemento in slider.imagen track by $index">
			    	<div  class="g-bg-cover  g-bg-black-opacity-0_3--after" style="width:100%">
			    		<img src="{{elemento}}" alt="First slide" style="height: 400px;">
	                </div>
	                <!-- Static Header -->
	                <div class="header-text hidden-xs">
	                     <div class="container g-z-index-1">
                      	 	<div class="" style="width: 600px;">
	                        	<h2>
	                        		<span>{{slider.titulo[$index]}}</span>
	                       		 </h2>
	                        	
	                        	<h3>
	                        		<span>{{slider.descripcion[$index]}}</span>
	                        	</h3>
	                        	
	                        </div>	
	                    </div>
	                </div><!-- /header-text -->
				    <div style="clear:both"></div>
   			    </div>
			</div>
			<div style="clear:both"></div>
		</div><!-- /carousel -->
		<div style="clear:both"></div>
	</div>
</div>
<!-- -->
</div>