<div class='page-topbar '>
        <div class='logo-area'>
            <div class="contenedor_titulo">    
                <div class="icono_titulo_adm">
                    <div class="circulo_fuente2">
                        <i class="fa fa-cube" aria-hidden="true"></i>
                    </div>
                </div>  
                <div class="titulo_adm hidden-xs"><b>Content</b> Manager</div>
                <div style="clear:both"></div>
            </div>
        </div>
        <div class='quick-area'>
            <div class='pull-left'>
                <ul class="info-menu left-links list-inline list-unstyled">
                    <li class="sidebar-toggle-wrap">
                        <a href="#" data-toggle="sidebar" class="sidebar_toggle">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>		
            <div class='pull-right'>
                <ul class="info-menu right-links list-inline list-unstyled">
                    <li class="profile">
                        <a href="#" data-toggle="dropdown" class="toggle">
                            <img src="site_media/images/user.png" alt="user-image" class="img-circle img-inline">
                            <span>{{login_usuario}} <i class="fa fa-angle-down"></i></span>
                        </a>
                        <ul class="dropdown-menu profile animated fadeIn">
                            <li>
                                <a href="#settings">
                                    <i class="fa fa-wrench"></i>
                                    Settings
                                </a>
                            </li>
                            <li>
                                <a href="#profile">
                                    <i class="fa fa-user"></i>
                                    Profile
                                </a>
                            </li>
                            <li>
                                <a href="#help">
                                    <i class="fa fa-info"></i>
                                    Help
                                </a>
                            </li>
                            <li class="last">
                                <a href="ui-login.html">
                                    <i class="fa fa-lock"></i>
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>			
            </div>		
        </div>
    </div>