<!--Preloaders -->
<div class="loading-spiner-holder" data-loading >
    <div class="loading-spiner">
        <ng-include src="'./site_media/templates/preloader.html'"></ng-include>
    </div>
</div>  
<!-- -->
<ng-include src="'./site_media/templates/header.html'"></ng-include>
<div class="page-container row-fluid container-fluid">

    <ng-include src="'./site_media/templates/menu_principal.html'"></ng-include>
     <!-- START CONTENT -->
    <section id="main-content" class=" ">
    	<section class="wrapper main-wrapper row" style=''>
            <div id="cuerpo_principal_doctor">
            <!--CUERPO PRINCIPAL DR -->
				<div class='col-xs-12'>
				    <div class="page-title" style="display:none">
				        <div class="pull-left">
				            <!-- PAGE HEADING TAG - START -->
				            <h1 class="title" id="titulo_project">
								{{titulo_pagina}}
							</h1>
				            <!-- PAGE HEADING TAG - END--> 
				        </div>                     
				    </div>
				</div>
				<div class="clearfix"></div>
				<div class="col-xs-12 animated fadeIn">
				    <section class="box ">
				        <header class="panel_header">
				        	<div>
					        	<div class="contenedor_icono">
						        	<div class="circulo_fuente">
						        		<i class="fa fa-user" aria-hidden="true"></i>
						        	</div>
						        </div>	
					            <h2 class="title pull-left"> Usuarios </h2>
					        </div>    
				        </header>
				        <hr>
				        <div class="content-body">
						<!-- Cuerpo del formulario -->
						<form id="form_registro_galeria" name="form_registro_galeria" enctype="multipart/form-data">
						    <div class="row">
						     	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				                 	<div id="campo_mensaje2" name="campo_mensaje2" class="mostrar"></div>
				                </div>	
						    	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<!-- -->
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left:0px;padding-right:0px;">
								        <div class="col-md-4 col-sm-12 col-xs-12" style="padding-left:0px;">
								            <div class="form-group">
								            	<label class="form-label">Cédula:</label>
								                <div class="controls">
								                <input type="text" name="usuario_cedula" id="usuario_cedula" class="form-control" ng-model="usuario.cedula" placeholder="Ingrese número de cédula" onKeyPress="return valida(event,this,10,50)" onBlur="valida2(this,10,50);" maxlength="10" >
								                </div>
								            </div>
								        </div>
								        <div class="col-md-4 col-sm-12 col-xs-12" style="padding-left: 0px;">
									        <div class="form-group">
								            	<label class="form-label">Login de usuario:</label>
								            	<div class="controls">
								                	<input id="usuario_login" name="usuario_login" class="form-control" ng-model="usuario.login" placeholder="Ingrese login de usuario" onKeyPress="return valida(event,this,0,20)" onBlur="valida2(this,0,20);">
								                </div>
									        </div>
								        </div>
								        <div class="col-md-4 col-sm-12 col-xs-12" style="padding-left:0px;">
									        <div class="form-group">
								            	<label class="form-label">Nombres y Apellidos:</label>
								            	<div class="controls">
								                	<input id="usuario_nombres" name="usuario_nombres" class="form-control" ng-model="usuario.nombres_apellidos" placeholder="Ingrese nombres y apellidos" onKeyPress="return valida(event,this,19,50)" onBlur="valida2(this,19,50);">
								                </div>
									        </div>
								        </div>
							        </div>
							        <div class="col-md-4 col-sm-12 col-xs-12" style="padding-left:0px;">
							        	<div class="form-group">
										    <label class="form-label">Tipo de usuario:</label>
										        <div class="controls">
										        	<select name="tipo_usuario" id="tipo_usuario" class="form-control m-bot15 select-picker" data-done-button="true" data-actions-box="true"  data-live-search-placeholder="Seleccione tipo de usuario" placholder="Seleccione tipo de usuario" data-style="btn-fff " data-live-search="true" ng-options="option.descripcion for option in tipos_usuarios track by option.id" ng-model="usuario.tipos_usuarios">
										        		<option value="">--Seleccione tipo de usuario--</option>
													</select>
												</div>
										</div>			
							        </div>
							        <div class="col-md-4 col-sm-12 col-xs-12" style="padding-left:0px;">
								            <div class="form-group">
								            	<label class="form-label">Teléfono:</label>
								                <div class="controls">
								                <input type="text" name="usuario_telefono" id="usuario_telefono" class="form-control" ng-model="usuario.telefono" placeholder="Formato:+58-xxx-xxx-xx-xx" onKeyPress="return valida(event,this,13,17)" onBlur="valida2(this,13,17);formato_tlf(this);" maxlength="50">
								                </div>
								            </div>
								    </div>
							        <div class="col-md-4 col-sm-12 col-xs-12" style="padding-left:0px;">
								        <div class="form-group">
							            	<label class="form-label">Email</label>
							            	<div class="controls">
							                	<input id="usuario_email" name="usuario_email" class="form-control" ng-model="usuario.email" placeholder="Ingrese el email" onKeyPress="return valida(event,this,5,50)" onBlur="valida2(this,5,50);correo(this)" maxlength="50">
							                </div>
								        </div>
							        </div>
							        <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding-left:0px;">
								            <div class="form-group">
								            	<label class="form-label">Clave:</label>
								                <div class="controls">
								                <input type="password" name="usuario_clave" id="usuario_clave" class="form-control" ng-model="usuario.clave" placeholder="Ingrese solo caracteres alfanuméricos 8 dígitos" onKeyPress="return valida(event,this,20,12)" onBlur="valida2(this,20,12);" maxlength="8">
								                </div>
								            </div>
								    </div>
							        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding-left:0px;">
								        <div class="form-group">
								            	<label class="form-label">Repita su clave:</label>
								                <div class="controls">
								                <input type="password" name="usuario_clave2" id="usuario_clave2" class="form-control" placeholder="Ingrese solo caracteres alfanuméricos 8 dígitos" onKeyPress="return valida(event,this,20,12)" onBlur="valida2(this,20,12);" maxlength="8">
								                </div>
								        </div>
							        </div>
							    </div>
								<!-- -->	        		
							    <div class="col-lg-12 col-sm-12 col-xs-12" ng-class="{visible:usuario.id!='',invisible:usuario.id===''}" style="padding:0px;">
					        		<div class="form-group">
					        			<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 col-xs-12">
					        				<label class="form-label">Estatus:</label>
					        			</div>	
					        			<div class="controls col-lg-6 col-md-4 col-xs-12 col-sm-12" style="float:left;">
					        				<div ng-click="activar_check('#check_publicado');"><i id="check_publicado" class="fa fa-square-o cuadrado" style="" aria-hidden="true"></i></div>
					        				<div>  Publicado</div>
					        			</div>
						        	</div>
							    </div>	
							    <!--Preview de video -->
				                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div_player" ng-class="{visible: enlace!='',invisible:enlace===''}">
				                 	<div id="player"></div>
				                </div>
				                 <!-- -->
							    <div style="clear:both"></div>
								<!-- --> 
						    </div>
						</form>
						<hr>    
						    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="padding:0px;">
								<input type="hidden" size="5" id="id" name="id" ng-model="doctor.id">
								<div class="col-lg-4 col-md-4 col-xs-12 col-sm-12" id="campo_mensaje" name="campo_mensaje"></div>
								<div id="botonera-bloque" name="botonera-bloque" style="margin-top:10px;">
									<div class="col-lg-8 col-md-8 col-xs-12 col-sm-12" style="float:right;padding:0px;">
										<div class="col-lg-4 col-md-4 col-xs-12" style="padding-right:0px;">
											<div class="btn btn-aqua" style="float:right;width:100%" class="limpiar" ng-click="limpiar_usuario()"><i class="fa fa-file-o" aria-hidden="true"></i> Limpiar</div>
										</div>
										<div class="col-lg-4 col-md-4 col-xs-12" style="padding-right:0px;" >
											<div class="btn btn-aqua" style="float:right;width:100%" class="consultar" ng-click="consultar_usuarios()"><i class="fa fa-search" aria-hidden="true"></i> Consultar</div>
										</div>
										<div class="col-lg-4 col-md-4 col-xs-12" style="padding-right:0px;">
											<div class="btn btn-aqua" style="float:right;width:100%" class="registrar" ng-click="registrar_usuarios()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Registrar</div>
										</div>
									</div>
									<div  style="clear:both"></div>
								</div>
							</div>
							<div style="clear:both"></div>
					    </div>
				    </section>
					<!--Bloque modal del sistema -->
					<div class="modal fade" id="modal_mensaje" name="modal_mensaje" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
					    <div class="modal-dialog modal-lg .modal-sm">
					      <div class="modal-content">
					        <div class="modal-header header_conf">
					            <button type="button" id="cerrar_mensaje2" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					            <p id="cabecera_mensaje" name="cabecera_mensaje"></p>
					        </div>
					        <div class="modal-body" id="cuerpo_mensaje" name="cuerpo_mensaje">
					        <!--Modal body -->
					        <!-- modal body-->
					        </div>  
					        <div class="modal-footer footer_conf">
					            <!-- Footter del modal -->
					              <button type="button" name="modal_reporte_salir" id="modal_reporte_salir" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
					              <button type="button" name="modal_reporte_aceptar" id="modal_reporte_aceptar" class="btn btn-primary" data-dismiss="modal" ng-click="procesar_operacion()">Aceptar</button>
					            <!-- Fin footter del modal -->
					        </div>
					      </div>
					    </div>
					</div>
					<!-- --> 
				</div>
			<!-- FIN CUERPO PRINCIPAL DR -->	
			</div>
		</section>		
	</section>
	<!-- END CONTENT -->
</div>