<script type="text/javascript">
	$("#select_categoria").selectpicker('refresh');
</script>
<!--Preloaders -->
<div class="loading-spiner-holder" data-loading >
    <div class="loading-spiner">
        <ng-include src="'./site_media/templates/preloader.html'"></ng-include>
    </div>
</div>  
<!-- -->
<ng-include src="'./site_media/templates/header.html'"></ng-include>
<div class="page-container row-fluid container-fluid">
    <ng-include src="'./site_media/templates/menu_principal.html'"></ng-include>
     <!-- START CONTENT -->
    <section id="main-content" class=" ">
    	<section class="wrapper main-wrapper row" style=''>
            <div id="cuerpo_principal_doctor">
				<!--Cuerpo Principal consulta dr -->
				<div class='col-xs-12'>
				    <div class="page-title" style="display:none">
				        <div class="pull-left">
				            <!-- PAGE HEADING TAG - START -->
				            <h1 class="title" id="titulo_project">
								{{titulo_pagina}}
							</h1>
				            <!-- PAGE HEADING TAG - END--> 
				        </div>                     
				    </div>
				</div>
				<div class="clearfix"></div>
				<div class="col-xs-12 animated fadeIn">
				    <section class="box ">
				        <header class="panel_header">
				        	<div>
					        	<div class="contenedor_icono">
						        	<div class="circulo_fuente">
						        		<i class="fa fa-search" aria-hidden="true"></i>
						        	</div>
						        </div>	
					            <h2 class="title pull-left"> {{titulo_seccion}}</h2>
					        </div>    
				        </header>
				        <hr>
				        <div class="content-body">
						<!-- Cuerpo del formulario -->
						<form id="form_registro_galeria" name="form_registro_galeria" enctype="multipart/form-data">
						    <div class="row">
						    	<div class="col-md-12 col-sm-12 col-xs-12" style="padding-left:0px;">
						    		<table id="datatable2" class="table table-striped" border="0">
						    			<thead>
						    				<th>#</th>
						    				<th>Idioma</th>
						    				<th>Título</th>
						    				<th style="width:20%;">Link</th>
						    				<th>Operaciones</th>
						    			</thead>
						    			<tbody>
						    				<tr ng-repeat = "vide in video track by $index">
						    					<td class="centrado">{{vide.number}}</td>
						    					<td class="centrado">{{vide.idioma.descripcion}}</td>
						    					<td class="centrado" ">{{vide.titulo}}</td>
						    					<td class="centrado" style="width:20%;">{{vide.link}}</td>
						    					<td class="centrado">
							    					<div class="form-group">
							    						<div ng-click="ver_video($index)" class="btn btn-success flotar_izquierda" title="modificar">
							    							<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
							    						</div>
							    						<div id="btn_activar{{vide.number}}_a" name="btn_activar{{vide.number}}_a" class="btn btn-danger flotar_izquierda" ng-class="{visible:vide.estatus=='1',invisible:vide.estatus!=1}" title="Inactivar" data-ng-click="activar_registro($event)" data="{{vide.id}}|{{vide.estatus}}">
						    								<i class="fa fa-lock" aria-hidden="true"></i>
						    							</div>
							    						<div id="btn_activar{{vide.number}}_b" name="btn_activar{{vide.number}}_b"  class="btn btn-success flotar_izquierda" ng-class="{visible:vide.estatus!='1',invisible:vide.estatus==1}" title="Publicar" data-ng-click="activar_registro($event)" data="{{vide.id}}|{{vide.estatus}}">
						    								<i class="fa fa-check" aria-hidden="true"></i>
						    							</div>
							    					</div>	
						    					</td>
						    				</tr>
						    			</tbody>
						    		</table>
						    	</div>
						<!-- --> 
						    </div>
						</form>    
						<!--  Seccion botonera -->
						<!--    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="padding:0px;">
								<hr>
								<input type="text" size="5" id="id" name="id" ng-model="mensaje.id">
								<div class="col-lg-6 col-md-4 col-xs-12 col-sm-12" id="mensaje_album" name="mensaje_album"></div>
								<div id="botonera-bloque" name="botonera-bloque">
									<div  style="clear:both"></div>
								</div>
							</div>-->
						<!--Fin seccion botonera -->
						</div>
						<!-- Fin content -->
							<div style="clear:both"></div>
					</section>		
				</div>
				<!--Bloque modal del sistema -->
					<div class="modal fade" id="modal_mensaje" name="modal_mensaje" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
					    <div class="modal-dialog modal-lg .modal-sm">
					      <div class="modal-content">
					        <div class="modal-header header_conf">
					            <button type="button" id="cerrar_mensaje2" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					            <p id="cabecera_mensaje" name="cabecera_mensaje"></p>
					        </div>
					        <div class="modal-body" id="cuerpo_mensaje" name="cuerpo_mensaje">
					        <!--Modal body -->
					        <!-- modal body-->
					        </div>  
					        <div class="modal-footer footer_conf">
					            <!-- Footter del modal -->
					              <button type="button" name="modal_reporte_salir" id="modal_reporte_salir" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
					              <button type="button" name="modal_reporte_aceptar" id="modal_reporte_aceptar" class="btn btn-primary" data-dismiss="modal" ng-click="procesar_activacion_galeria()">Aceptar</button>
					            <!-- Fin footter del modal -->
					        </div>
					      </div>
					    </div>
					</div>
				<!-- -->  
				</div>
			</div>
		</section>
	</section>
</div>
